<% if !attended.count.zero? %>
	<h2>
    Tea times you've attended
  </h2>
  <ul class="past attendee">
    <% attended.each do |a| %>
      <li class="<%= (:cancelled if a.tea_time.cancelled?) %> tea-time">
        <div class="tt-deets">
          <%= render partial: 'teatime_info', locals: {tea_time: a.tea_time, att: a, without_button: true} %>
        </div>
        <div class="other-deets">
          <% if a.tea_time.attendances.length > 0 %>
            <h3 class="light">
              Folks at your tea time
            </h3>
            <div class="attendees-container host-view">
              <% a.tea_time.attendances.group_by(&:status).each do |k,v| %>
                <div class="attendance-section <%= k %>">
                  <div class="key">
                    <span class="attendance-status <%= k %>">
                      (<%= v.length %>) <%= humanize_attendance_status(k).humanize.titleize.pluralize(v.count) %>
                    </span>
                    <span class="email <%= k %>">
                      <%= link_to "Email", "mailto:#{a.tea_time.attendee_emails(filter: ->(x) { x.status != k })}", :target => "_blank" %>
                    </span>
                  </div>
                  <ul class="<%= k %> attendees-list">
                    <% v.map(&:user).each do |a| %>
                      <li class="attendee-names">
                        <%= link_to a.name, "mailto:#{a.email}", :target => "_blank" %>
                      </li>
                    <% end %>
                  </ul>
                </div>
              <% end %>
            </div>
          <% end %>
        </div>
      </li>
    <% end %>
  </ul>
<% elsif !current_user.home_city.nil? && attended.count.zero? %>
  <h2>
    You've never been to a tea time!
  </h2>
  <div class="dash-create-new-tea">
    <%= link_to forbes_city_path(current_user.home_city) do %>
      <div class="new-tea-box">
        <div class="plus-sign-container">
          <h1>
            +
          </h1>
        </div>
        <div class="schedule-text-container">
          <div class="schedule-text">
            <h3 class="capitalize">
              Let's change that!
            </h3>
          </div>
        </div>
      </div>
    <% end %>
  </div>
<% else %>
  <h2>
    You've never been to a tea time!
  </h2>
  <div class="dash-create-new-tea">
    <%= link_to 'Find your city here', cities_path do %>
      <div class="new-tea-box">
        <div class="plus-sign-container">
          <h1>
            +
          </h1>
        </div>
        <div class="schedule-text-container">
          <div class="schedule-text">
            <h3 class="capitalize">
              Let's change that!
            </h3>
          </div>
        </div>
      </div>
    <% end %>
  </div>
<% end %>