<% if !tea_times.count.zero? %>
  <h2>
    Your upcoming tea times
  </h2>
  <ul class="upcoming host">
    <% tea_times.each do |tea_time| %>
      <li class="<%= (:cancelled if tea_time.cancelled?) %> tea-time">
        <div class="tt-deets">
          <%= render partial: 'teatime_hostinfo', locals: {tea_time: tea_time, att: nil, without_button: display_button?(local_assigns)} %>
        </div>
        <div class="other-deets">
          <% if current_user.host? %>
            <% if tea_time.attendances.length > 0 %>
              <h3 class="light">
                Your attendees
              </h3>
              <div class="attendees-container host-view">
                <% tea_time.attendances.group_by(&:status).each do |k,v| %>
                  <div class="attendance-section">
                    <div class="key">
                      <span class="attendance-status <%= k %>">
                        (<%= v.length %>) <%= humanize_attendance_status(k).humanize.titleize.pluralize(v.count) %>
                      </span>
                      <span class="email <%= k %>">
                        <%= link_to "Email", "mailto:#{tea_time.attendee_emails(filter: ->(x) { x.status != k })}", :target => "_blank" %>
                      </span>
                    </div>
                    <ul class="<%= k %> attendees-list">
                      <% v.map(&:user).each do |a| %>
                        <li class="attendee-names">
                          <%= link_to a.name, "mailto:#{a.email}", :target => "_blank" %>
                        </li>
                      <% end %>
                    </ul>
                  </div>
                <% end %>
              </div>
            <% else %>
              <div class="attendees-container host-view">
                <h3 class="light">
                  Your attendees
                </h3>
                <p class="attendees none lightweight">
                  No attendees yet!
                </p>
              </div>
            <% end %>
            <!-- div class="attendance-key">
              <% tea_time.attendances.group_by(&:status).each do |k,v| %>
                <div class="key">
                  <span class="attendance-status <%= k %>">
                    (<%= v.length %>) <%= humanize_attendance_status(k).humanize.titleize.pluralize(v.count) %>
                  </span>
                  <span class="email <%= k %>">
                    <%= link_to "Email", "mailto:#{tea_time.attendee_emails(filter: ->(x) { x.status != k })}", :target => "_blank" %>
                  </span>
                </div>
              <% end %>
            </div-->
          <% end %>
        </div>
      </li>
    <% end %>
  </ul>
  <div class="dash-create-new-tea">
    <%= link_to new_tea_time_path do %>
      <div class="special-offer-ribbon">
        Special Offer
      </div>
      <div class="tt-box">
        <div class="special-offer">
          <div class="offer-text">
            <h5 class="white center">
              For the small price of 1 click, 
              you can have a tea time just like this!
            </h5>
            <p class="button">
              Do it before offer expires!*
            </p> 
            <span class="fine-print">
              *This offer doesn't expire. But this joke will. 
            </span>
          </div>
        </div>
        <div class="fake-tt">
          <h5 class="light lightweight">
            Funday
          </h5>
          <h3 class="date">
            <%= Time.now.strftime("%B %e") %>
          </h3>
          <h5 class="boldweight">
            <%= Time.now.strftime("%-l:%M%P") %> — 2hrs from now 
          </h5>
          <h5 class="light lightweight">
            Stranger Cafe, 2305 TWS Blvd., <%= current_user.home_city.name %>
          </h5>
        </div>
      </div>
    <% end %>
  </div>
<% else %>
  <h2>
    When's your next tea time?
  </h2>
  <div class="dash-create-new-tea">
    <%= link_to new_tea_time_path do %>
      <div class="special-offer-ribbon">
        Special Offer
      </div>
      <div class="tt-box">
        <div class="special-offer">
          <div class="offer-text">
            <h5 class="white center">
              For the small price of 1 click, 
              you can create a tea time just like this!
            </h5>
            <p class="button">
              Do it before offer expires!*
            </p> 
            <span class="fine-print">
              *This offer doesn't expire. But this joke will. 
            </span>
          </div>
        </div>
        <div class="fake-tt">
          <h5 class="light lightweight">
            Funday
          </h5>
          <h3 class="date">
            <%= Time.now.strftime("%B %e") %>
          </h3>
          <h5 class="boldweight">
            <%= Time.now.strftime("%-l:%M%P") %> — 2hrs from now 
          </h5>
          <h5 class="light lightweight">
            Stranger Cafe, 2305 TWS Blvd., <%= current_user.home_city.name %>
          </h5>
        </div>
      </div>
    <% end %>
  </div>
<% end %>
