<div class="dash-menu-container">
  <div class="dash-menu">
    <% if current_user.host? || current_user.admin? %>
      <ul class="dash-menu-list standout">
        <li class="nav-link-item new-tea">
          <%= link_to "Create New Tea Time!", new_tea_time_path %>
        </li>
      </ul>
    <% end %>

    <ul class="dash-menu-list">
      <li class="nav-link-item">
        <%= link_to "Upcoming Tea Times", profile_path %>
      </li>
      <% if current_user.host? %>
        <li class="nav-link-item">
          <%= link_to "Attendance & Host Referrals", host_tasks_path %>
        </li>
      <% end %>
      <li class="nav-link-item">
        <%= link_to "Tea Time History", history_path %>
      </li>
      <% if current_user.host? %>
        <li class="nav-link-item">
          <%= link_to "Edit Profile", host_profile_path %>
        </li>
      <% end %>
      <li class="nav-link-item">
        <%= link_to "Account Details", edit_user_registration_path %>
      </li>
    </ul>
  </div>
</div>