<% if !tea_times.count.zero? %>
  <h2>
    Your upcoming tea times
  </h2>
  <ul class="upcoming host">
    <% tea_times.each do |tea_time| %>
      <li class="<%= (:cancelled if tea_time.cancelled?) %> tea-time">
        <div class="tt-deets">
          <%= render partial: 'teatime_info', locals: {tea_time: tea_time, att: nil, without_button: display_button?(local_assigns)} %>
        </div>
        <div class="other-deets">
          <% if current_user.host? %>
            <% if tea_time.attendances.length > 0 %>
              <h3 class="light">
                Your attendees
              </h3>
              <div class="attendees-container host-view">
                <%= render partial: 'profiles/history/attendances_details', locals: {tea_time: tea_time, attendances: tea_time.attendances.cancelled, status: 'cancelled'} %>
                <%= render partial: 'profiles/history/attendances_details', locals: {tea_time: tea_time, attendances: tea_time.attendances.present, status: 'present'} %>
                <%= render partial: 'profiles/history/attendances_details', locals: {tea_time: tea_time, attendances: tea_time.attendances.pending, status: 'pending'} %>
                <%= render partial: 'profiles/history/attendances_details', locals: {tea_time: tea_time, attendances: tea_time.attendances.waiting_list, status: 'waiting_list'} %>
                <%= render partial: 'profiles/history/attendances_details', locals: {tea_time: tea_time, attendances: tea_time.attendances.flake, status: 'flake'} %>
                <%= render partial: 'profiles/history/attendances_details', locals: {tea_time: tea_time, attendances: tea_time.attendances.no_show, status: 'no_show'} %>
              </div>
            <% else %>
              <div class="attendees-container host-view">
                <h3 class="light">
                  Your attendees
                </h3>
                <p class="attendees none lightweight">
                  No attendees yet!
                </p>
              </div>
            <% end %>
          <% end %>
        </div>
      </li>
    <% end %>
  </ul>
<% else %>
  <h2>
    When's the next time you're hosting?
  </h2>
  <div class="dash-create-new-tea">
    <%= link_to new_tea_time_path do %>
      <div class="new-tea-box">
        <div class="plus-sign-container">
          <h1>
            +
          </h1>
        </div>
        <div class="schedule-text-container">
          <div class="schedule-text">
            <h3 class="capitalize">
              Schedule
            </h3>
            <h5 class="boldweight">
              A Tea Time
            </h5>
          </div>
        </div>
      </div>
    <% end %>
  </div>
<% end %>
