<div class="tt-container">
  <div class="tt-box">
    <div class="tt-card-top">
      <div class="date-time">
        <div class="day">
          <h5 class="light lightweight">
            <%= "#{tea_time.day}" %>
          </h5>
        </div>
        <div class="date">
          <h3>
            <%= "#{tea_time.date_full_month_sans_year}" %>
          </h3>
        </div>
        <div class="time">
          <h5 class="boldweight">
            <%= "#{tea_time.start_end_hour}" %>
          </h5>
        </div>
      </div>
    </div>
    <div class="place">
      <h5 class="light lightweight">
        <%= "#{tea_time.location}" %>
      </h5>
    </div>
  </div>
  <% if tea_time.notes? %>
    <div class="notes">
      <% if current_user.host? && tea_time.host.try(:id) == current_user.id %>
        <h5 class="boldweight capitalize">
          Your note to attendees
        </h5>
      <% else %>
        <h5 class="boldweight capitalize">
          A note from <%= tea_time.host.nickname %>
        </h5>
      <% end %>
      <p class="small">
        <%= "#{tea_time.notes}" %>
      </p>
    </div>
  <% else %>
    <!-- This might be overkill in the future. Might be worth getting rid of this at some point. -->
    <% if current_user.host? && tea_time.host.try(:id) == current_user.id %>
      <% unless tea_time.occurred? || tea_time.cancelled? %>
        <div class="notes">
          <h5 class="boldweight capitalize">
            Any notes for your attendees?
          </h5>
          <p class="small">
            <em>If there's anything you'd want only your attendees to know, feel free to include it in the notes. Click 'Edit Details' to do so.</em>
          </p>
        </div>
      <% end %>
    <% end %>      
  <% end %>
  <% if current_user.host? && tea_time.host.try(:id) == current_user.id %>
    <div class="host controls">
      <% unless tea_time.occurred? || tea_time.cancelled? %>
        <h6 class="edit capitalize boldweight">
          <%= link_to 'Edit details', edit_tea_time_path(tea_time) %>
        </h6>
        <h6 class="cancel capitalize boldweight">
          <%= link_to 'Cancel tea time', cancel_tea_time_path(tea_time), :method => :put, :data => { :confirm => 'Are you sure? If you can, try to ask another host to sub in for you, then make the tea time theirs by hitting \'Edit Tea Time\' If there\'s no other way, cancel and fire the attendees a note so they understand what happened!' } %>
        </h6>
      <% else %>
      <% end %>
    </div>
  <% else %>
    <% unless tea_time.occurred? || tea_time.cancelled? %>
      <div class="attendee controls">
        <h6 class="cancel capitalize boldweight">
          <%= link_to "Cancel my spot", show_attendance_tea_time_path(tea_time, att), class: 'left' %>
        </h6>
      </div>
    <% end %>
  <% end %>

  <!-- What is this section here for? This partial only gets rendered on the host dashboard under upcoming tea times... -->
  <% if !(without_button ||= false) %>
    <div class="tt-cta">
      <% if current_user %>
        <%= link_to tea_time_path(tea_time), class: 'tea-time-scheduling' do %>
          <% if tea_time.attending?(current_user) %>
            <button class="green" disabled="<%= true %>">
              Signed Up
            </button>
          <% elsif tea_time.spots_remaining? %>
            <button class="spots<%= tea_time.spots_remaining %>">
              Count Me In
            </button>
          <% elsif tea_time.waitlisted?(current_user) %>
            <button class="gray button" disabled="<%= true %>">
              Waitlisted
            </button>
          <% else %>
            <button class="yellow button">
              Join Waitlist
            </button>
          <% end %>
        <% end %>
      <% else %>
        <%= link_to new_user_session_path do %>
          <button class="yellow button">
            Sign in to schedule
          </button>
        <% end %>
      <% end %>
    </div>
  <% end %>
  <!-- End of section confusion -->
</div>