<h2 class="main upcoming going">Your Tea Times</h2>
<% if !attendances.count.zero? %>
  <ul class="upcoming going">
    <% attendances.each do |a| %>
      <li class="tea-time">
        <%= render partial: 'teatime_info', locals: {tea_time: a.tea_time, att: a, without_button: true} %>
        <% if a.tea_time.occurred? %>
          <div class="attendees-container">
            <% if a.tea_time.attendances.length > 0 %>
              <h3 class="attendees">Fellow Attendees</h3>
              <ul class="attendees-list">
                <% a.tea_time.attendances.each do |a| %>
                  <% unless (a.flake? || a.no_show?) %>
                    <li class="attendee-names">
                      <%= link_to a.user.name, "mailto:#{a.user.email}" %>
                    </li>
                  <% end %>
                <% end %>
              </ul>
              <div class="email-all" target="_blank">
                <%= link_to "Email All", "mailto:#{a.tea_time.attendee_emails(filter: ->(x) { x.flake? || x.no_show?})}" %>
              </div>
            <% else %>
              <h3 class="attendees none">No attendees yet!</h3>
            <% end %>
          </div>
        <% end %>
      </li>
    <% end %>
  </ul>
<% elsif !current_user.home_city.nil? && attendances.count.zero? %>
  <div class="dash-create-new-tea">
    <%= link_to city_path(current_user.home_city) do %>
      <div class="new-tea-box">
        <div class="plus-sign-container">
          <h1>
            +
          </h1>
        </div>
        <div class="schedule-text-container">
          <div class="schedule-text">
            <h3 class="capitalize">
              Join
            </h3>
            <h5 class="boldweight">
              A Tea Time
            </h5>
          </div>
        </div>
      </div>
    <% end %>
  </div>
<% else %>
  <div class="dash-create-new-tea">
    <%= link_to cities_path do %>
      <div class="new-tea-box">
        <div class="schedule-text-container">
          <div class="schedule-text">
            <h3 class="capitalize">
              Set your home city
            </h3>
          </div>
        </div>
      </div>
    <% end %>
  </div>
<% end %>
