<h2 class="main upcoming going">Your Tea Times</h2>
<% if !attendances.count.zero? %>
  <ul class="upcoming going">
    <% attendances.each do |a| %>
      <li class="tea-time">
        <%= render partial: 'teatime_info', locals: {tea_time: a.tea_time, att: a, without_button: true} %>
        <% if a.tea_time.occurred? %>
          <div class="attendees-container">
            <% if a.tea_time.attendances.length > 0 %>
              <h3 class="attendees">Fellow Attendees</h3>
              <ul class="attendees-list">
                <% a.tea_time.attendances.each do |a| %>
                  <% unless (a.flake? || a.no_show?) %>
                    <li class="attendee-names">
                      <%= link_to a.user.name, "mailto:#{a.user.email}" %>
                    </li>
                  <% end %>
                <% end %>
              </ul>
              <div class="email-all" target="_blank">
                <%= link_to "Email All", "mailto:#{a.tea_time.attendee_emails(filter: ->(x) { x.flake? || x.no_show?})}" %>
              </div>
            <% else %>
              <h3 class="attendees none">No attendees yet!</h3>
            <% end %>
          </div>
        <% end %>
      </li>
    <% end %>
  </ul>
<% elsif !current_user.home_city.nil? && attendances.count.zero? %>
  <p>
    You're not scheduled for any tea times! Let's change that.
    <%= link_to "Go schedule a tea time!", city_path(current_user.home_city) %>
  </p>
<% else %>
  <p>
    You're not scheduled for any tea times! We should change that. But first,
    set your home city! <%= link_to 'Find your city here', cities_path %>.
  </p>
<% end %>
