<%= render partial: 'shared/header' %>
<% prefill = !!current_user %>
<%= render partial: 'profiles/navbar' %>

<div class="container dashboard">
  <div class="dash-intro">
    <% if current_user.host? %>
      <div class="photo-container">
        <div class="host-photo">
          <img class="host-img" src="<%= @current_user.avatar.url(:landscape) %>"/>
        </div>
      </div>
      <div class="hello sidebar-section">
        <h2>
          Welcome home, <%= "#{current_user.nickname}!" %>
        </h2>
        <h3 class="gray">
          You look real good today.
        </h3>
      </div>
      <% if !@hosting.count.zero? %>
        <div class="create-new-tea sidebar-section">
          <%= link_to 'Create Another Tea Time', new_tea_time_path, class: "button create-new-tea" %>
        </div>
      <% end %>

    <% else %>
      <% if !@attending.count.zero? %>
        <div class="hello sidebar-section">
          <h2>
            Welcome home, <%= "#{current_user.nickname}!" %>
          </h2>
          <h3 class="gray">
            What are you grateful for today?
          </h3>
        </div>
        <div class="join-tea sidebar-section">
          <%= link_to "Find Another Tea Time!", tea_times_path, class: "button signup-tt"  %>
        </div>
      <% else %>
        <div class="hello sidebar-section">
          <h2>
            Welcome home, <%= "#{current_user.nickname}!" %>
          </h2>
          <h3 class="gray">
            What are you grateful for today?
          </h3>
        </div>
        <div class="join-tea sidebar-section">
          <%= link_to "Sign Up For a Tea Time!", tea_times_path, class: "button signup-tt" %>
        </div>
      <% end %>
    <% end %>
  </div>
  <div class="dash-body">
    <% if current_user.host? %>
      <div class="teas host">
        <%= render partial: 'profiles/history/hosted_teatimes', locals: {all_hosted: @hosted} %>
      </div>
    <% end %>

    <div class="teas attendee">
      <%= render partial: 'profiles/history/attended_teatimes', locals: {attended: @attended} %>
    </div>
  </div>
</div>
