.container.dashboard
  = render partial: 'shared/nav_header'
  .row
    .wide
      %h2= "Welcome home, #{current_user.name}!"
      .third.left
        = render partial: 'old_sidebar'
      %hr
      .two-third.right.history
        %h1.main Your tea time history
        = render partial: 'teatimes_being_hosted', locals: {tea_times: @hosting} if current_user.host?
        = render partial: 'user_attendance_info', locals: {attendances: @attending}
