.container.dashboard
  = render partial: 'shared/nav_header'
  .row
    .wide
      %h2= "Welcome home, #{current_user.name}!"
      .third.left
        = render partial: 'sidebar'
      %hr
      .two-third.right.history
        %h1.main Mark Attendance
        %ul.host.upcoming
          - @tasks.each do |tt|
            - if tt.attendances.count > 0
              %li.tea-time
                = render partial: 'teatime_info', locals: {tea_time: tt, att: nil}
                - if tt.pending?
                  = form_for(tt, html: { class: 'attendance' }, url: mark_tea_time_path(tt, marking: 'attendance')) do |f|
                    %h3 Attendees
                    %ul.attendees
                      = f.fields_for :attendances do |att_form|
                        %li.attendee
                          = att_form.object.user.name
                          - Attendance.host_statuses.each do |s, idx|
                            = att_form.label :status, s.humanize
                            = att_form.radio_button :status, s, 
                              checked: ((s == 'present' && att_form.object.pending?) || s == att_form.object.status)
                          = att_form.label :potential_host,  "Potential Host?"
                          = att_form.check_box :potential_host
                    = f.submit "Mark Attendance"
                - if tt.marked_attendance?
                  = form_for(tt, url: mark_tea_time_path(tt, marking: 'email', email_sent: true)) do |f|
                    = f.submit "Mark Complete"
                  = form_for(tt, url: mark_tea_time_path(tt, marking: 'edit_attendance')) do |f|
                    = f.submit "Edit Attendance"

