<%= render partial: 'shared/header' %>
<%= render partial: 'profiles/navbar' %>

<div class="container dashboard">
  <div class="dash-intro">
    <div class="photo-container">
      <div class="host-photo">
        <img class="host-img" src="<%= @current_user.avatar.url(:landscape) %>"/>
      </div>
    </div>
    <div class="hello">
      <h2>
        Welcome home, <%= "#{current_user.nickname}!" %>
      </h2>
      <h3 class="gray">
        You look real good today.
      </h3>
    </div>
  </div>
  <div class="dash-body">
    <div class="edit-profile form">
      <h2>
        Your Host Profile
      </h2>

      <p>
        Be yourself, and don't think too hard about this stuff. Remember that strangers are
        taking an leap of faith on sitting for tea time with you. The more you put yourself out
        there, the more comfortable people feel with the whole idea. So let your personality
        show!
      </p>

      <%= form_for(resource,
        as: resource_name,
        url: registration_path(resource_name),
        html: { method: :put, class: "no-header"}, :multipart => true) do |f| %>

        <%= render partial: 'devise/registrations/host', locals: {f: f } %>

      <% end %>

    </div>
  </div>
</div>

<%= render partial: 'shared/new_footer' %>