.container.dashboard
  = render partial: 'shared/nav_header'
  .row
    .wide
      %h2= "Welcome home, #{current_user.name}!"
      .third.left
        = render partial: 'sidebar'
      %hr
      .two-third.right
        .host-tts
          = render partial: 'host_tea_time_info', locals: {tea_times: @hosting} if current_user.host?
        .attendee-tts
          = render partial: 'user_attendance_info', locals: {attendances: @attending}
        .waitlist-tts
          = render partial: 'user_waitlist_info', locals: {attendances: @waitlist}
