<%= render partial: 'shared/header' %>
<%= render partial: 'profiles/navbar' %>

<div class="container dashboard">
  <div class="dash-intro">
    <% if current_user.host? %>
      <div class="photo-container">
        <div class="host-photo">
          <img class="host-img" src="<%= @current_user.avatar.url(:landscape) %>"/>
        </div>
      </div>
      <div class="hello host sidebar-section">
        <h2>
          Welcome home, <%= "#{current_user.nickname}!" %>
        </h2>
        <h3 class="gray">
          You look real good today.
        </h3>
      </div>
      <div class="edit-host-commitment sidebar-section">
        <% if current_user.commitment.nil? %>
          <div class='title orange'>
            !!!
          </div>
          <div class='details'>
            <span>
              <b>How often do you plan to host tea time?</b> Set your Host Commitment on the
              <a href='/users/edit'>Account Details</a> page.
            </span>
            <%= link_to 'Set Hosting Commitment', url_for('/users/edit'), class: 'button create-new-tea' %>
          </div>
        <% else %>
          <div class='title'>
            Hosting Commitment
          </div>
          <div class='details'>
            <% if HostDetail::IRREGULAR_COMMITMENTS.include?(current_user.commitment) %>
              <span>
                If you want to host more regularly, set your Hosting Commitment here.
              </span>
              <%= link_to 'Set Hosting Commitment', url_for('/users/edit'), class: 'button create-new-tea' %>
            <% else %>
              <span>
                <%= "Thanks so much for hosting tea times <b>every #{current_user.commitment} weeks</b>.".html_safe %>
              </span>
              <%= link_to 'Change Your Commitment', url_for('/users/edit'), class: 'button create-new-tea' %>
            <% end %>
          </div>
        <% end %>
      </div>
    <% else %>
      <% if !@attending.count.zero? %>
        <% if !current_user.home_city.nil? %>
          <div class="hello sidebar-section">
            <h2>
              Welcome home, <%= "#{current_user.nickname}!" %>
            </h2>
            <h3 class="gray">
              What are you grateful for today?
            </h3>
          </div>
          <div class="join-tea sidebar-section">
            <%= link_to "Find Another Tea Time!", city_path(current_user.home_city), class: "button signup-tt"  %>
          </div>
        <% else %>
          <div class="hello sidebar-section">
            <h2>
              Welcome home, <%= "#{current_user.nickname}!" %>
            </h2>
            <div class="notification slim alert">
              <h3 class="gray">
                Set your home city!
              </h3>
              <p>
                Don't miss anything good happening around you.
              </p>
              <div class="join-tea sidebar-section">
                <%= link_to 'Find Your City', cities_path, class: "button find-city" %>
              </div>
            </div>
          </div>
          <div class="join-tea sidebar-section">
            <%= link_to 'Find Your City', cities_path, class: "button find-city" %>
          </div>
        <% end %>
      <% else %>
        <% if !current_user.home_city.nil? %>
          <div class="hello sidebar-section">
            <h2>
              Welcome home, <%= "#{current_user.nickname}!" %>
            </h2>
            <h3 class="gray">
              What are you grateful for today?
            </h3>
          </div>
          <div class="join-tea sidebar-section">
            <%= link_to "Sign Up For a Tea Time!", city_path(current_user.home_city), class: "button signup-tt" %>
          </div>
        <% else %>
          <div class="hello sidebar-section">
            <h2>
              Welcome home, <%= "#{current_user.nickname}!" %>
            </h2>
            <div class="notification slim alert">
              <h3 class="gray">
                Set your home city!
              </h3>
              <p>
                Don't miss anything good happening around you.
              </p>
              <div class="join-tea sidebar-section">
                <%= link_to 'Find Your City', cities_path, class: "button find-city" %>
              </div>
            </div>
          </div>
        <% end %>
      <% end %>
    <% end %>
  </div>

  <div class="dash-body">
    <% if current_user.host? %>
      <div class="teas host">
        <%= render partial: 'teatimes_being_hosted', locals: {tea_times: @hosting} if current_user.host? %>
      </div>
    <% end %>

    <div class="teas attendee">
      <%= render partial: 'teatimes_being_attended', locals: {attendances: @attending} %>
    </div>

    <div class="teas waitlisted">
      <%= render partial: 'teatimes_on_waitlist', locals: {attendances: @waitlist} %>
    </div>
  </div>
</div>
