.landscape-header.city
  .blur-layer
  .landscape-text
    %h1.heycity
      ="Hey #{current_user.name}!"
      %br
      Let's get tea.
.container.dashboard
  = render partial: 'shared/nav_header'
  .row
    .wide
      %h2= "Welcome home, #{current_user.name}!"
      .third.left
        = render partial: 'sidebar'
      .two-third.right
        = render partial: 'host_tea_time_info' if current_user.host?
        = render partial: 'user_tea_time_info'
