<%= render partial: 'shared/header' %>
<%= render partial: 'profiles/navbar' %>

<div class="container dashboard">
  <div class="dash-intro">
    <% if current_user.host? %>
      <div class="photo-container">
        <div class="host-photo">
          <img class="host-img" src="<%= @current_user.avatar.url(:landscape) %>"/>
        </div>
      </div>
      <div class="hello host sidebar-section">
        <h2>
          Welcome home, <%= "#{current_user.nickname}!" %>
        </h2>
        <h3 class="gray">
          You look real good today.
        </h3>
      </div>
    <% else %>
      <% if !@attending.count.zero? %>
        <div class="hello sidebar-section">
          <h2>
            Welcome home, <%= "#{current_user.nickname}!" %>
          </h2>
          <h3 class="gray">
            What are you grateful for today?
          </h3>
        </div>
        <div class="join-tea sidebar-section">
          <%= link_to "Find Another Tea Time!", tea_times_path, class: "button signup-tt"  %>
        </div>
      <% else %>
        <div class="hello sidebar-section">
          <h2>
            Welcome home, <%= "#{current_user.nickname}!" %>
          </h2>
          <h3 class="gray">
            What are you grateful for today?
          </h3>
        </div>
        <div class="join-tea sidebar-section">
          <%= link_to "Sign Up For a Tea Time!", tea_times_path, class: "button signup-tt" %>
        </div>
      <% end %>
    <% end %>
  </div>

  <div class="dash-body">
    <% if current_user.host? %>
      <div class="teas host">
        <%= render partial: 'teatimes_being_hosted', locals: {tea_times: @hosting} if current_user.host? %>
      </div>
    <% end %>

    <div class="teas attendee">
      <%= render partial: 'teatimes_being_attended', locals: {attendances: @attending} %>
    </div>

    <div class="teas waitlisted">
      <%= render partial: 'teatimes_on_waitlist', locals: {attendances: @waitlist} %>
    </div>
  </div>
</div>
