<% if current_user && current_user.host? %>
  <h3 class="edit-subheader">Your Host Profile</h3>

  <div><%= f.label :avatar, "Your Picture" %><br />
    <%= f.file_field :avatar %></div>
  <div><%= f.label :summary, "Intro" %><br />
    <%= f.text_area :summary %></div>
  <div><%= f.label :story, "What's your story?" %><br />
    <%= f.text_area :story %></div>
  <div><%= f.label :topics, "What might we talk about?" %><br />
    <%= f.text_area :topics %></div>
  <div><%= f.label :tagline, "Random sentence" %><br />
    <%= f.text_field :tagline %></div>
<% end %>
