<% if current_user && current_user.host? %>
  <h2>
    Your Host Profile
  </h2>

  <p>
    Be yourself, and don't think too hard about this stuff. Remember that strangers are 
    taking an leap of faith on sitting for tea time with you. The more you put yourself out 
    there, the more comfortable people feel with the whole idea. So let your personality 
    show!
  </p>

  <div class="field photo">
    <div class="form-label">
      <%= f.label :avatar, "Your Picture", class: 'capitalize boldweight inline' %>
      <span class="sub-label">
        It'd be good to see your face. Save the headshots for LinkedIn. Feel free to get goofy.
      </span>
    </div>
    <%= f.file_field :avatar %>
  </div>

  <div class="field profile-intro">
    <div class="form-label">
      <%= f.label :summary, "Intro", class: 'capitalize boldweight inline' %>
      <span class="sub-label">
        Introduce yourself. Share why you're here! Invite the strangers in.
      </span>
    </div>
    <%= f.text_area :summary %>
  </div>

  <div class="field story">
    <div class="form-label">
      <%= f.label :story, "What's your story?", class: 'capitalize boldweight inline' %>
      <span class="sub-label">
        Run wild. What are you about? What excites you? What brought you to where you are? Where does your free time go? Why?
      </span>
    </div>
    <%= f.text_area :story %>
  </div>

  <div class="field topics">
    <div class="form-label">
      <%= f.label :topics, "What might we talk about?", class: 'capitalize boldweight inline' %>
      <span class="sub-label">
        Feel free to spit a stream of consciousness of ideas, stories, questions, topics that get your conversation juices flowing.
      </span>
    </div>
    <%= f.text_area :topics %>
  </div>

  <div class="field tagline">
    <div class="form-label">
      <%= f.label :tagline, "Random sentence", class: 'capitalize boldweight inline' %>
      <span class="sub-label">
        Purposefully random.
      </span>
    </div>
    <%= f.text_field :tagline %>
  </div>

  <div>
    <%= f.submit "Save Changes" %>
  </div>
<% end %>
