<%= render partial: 'shared/header' %>
<%= render partial: 'profiles/navbar' %>

<div class="container dashboard">
  <div class="dash-intro">
    <% if current_user.host? %>
      <div class="photo-container">
        <div class="host-photo">
          <img class="host-img" src="<%= @current_user.avatar.url(:landscape) %>"/>
        </div>
      </div>
      <div class="hello host sidebar-section">
        <h2>
          Welcome home, <%= "#{current_user.nickname}!" %>
        </h2>
        <h3 class="gray">
          You look real good today.
        </h3>
      </div>
      <% if !@hosting.count.zero? %>
        <div class="create-new-tea sidebar-section">
          <%= link_to 'Create Another Tea Time', new_tea_time_path, class: "button create-new-tea" %>
        </div>
      <% end %>
    <% else %>
      <% if !current_user.home_city.nil? %>
        <div class="hello sidebar-section">
          <h2>
            Welcome home, <%= "#{current_user.nickname}!" %>
          </h2>
          <h3 class="gray">
            What are you grateful for today?
          </h3>
        </div>
      <% else %>
        <div class="hello sidebar-section">
          <h2>
            Welcome home, <%= "#{current_user.nickname}!" %>
          </h2>
          <div class="notification slim alert">
            <h3 class="gray">
              Be sure your city is listed correctly!
            </h3>
            <p>
              You haven't set a home city yet, but you can sort that out in your account details here.
            </p>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
  <div class="dash-body">
    <div class="edit-account form first">
      <h2>
        Edit Your Account
      </h2>
      <%= form_for(resource,
                     as: resource_name,
                     url: registration_path(resource_name),
                     html: { method: :put }, :multipart => true) do |f|
      %>
        <%= devise_error_messages! %>
        <h3 class="first form-subheader">
          Personal Information
        </h3>

        <div class="name-email split-container">
          <div class="field nickname split2">
            <div class="form-label">
              <%= f.label :nickname, "Nickname",class: 'capitalize boldweight' %>
            </div>

            <%= f.text_field :nickname, autofocus: true %>
          </div>

          <div class="field email split2">
            <div class="form-label">
              <%= f.label :email, class: 'capitalize boldweight' %>
            </div>

            <%= f.email_field :email %>
          </div>
        </div>

        <div class="full-name split-container">
          <div class="field first-name split2">
            <div class="form-label">
              <%= f.label :given_name, "First Name", class: 'capitalize boldweight inline' %>
              <span class="sub-label light">
                If different from nickname
              </span>
            </div>
            <%= f.text_field :given_name %>
          </div>

          <div class="field last-name split2">
            <div class="form-label">
              <%= f.label :family_name, "Last Name", class: 'capitalize boldweight' %>
            </div>

            <%= f.text_field :family_name %>
          </div>
        </div>

        <div class="phone-city split-container">
          <div class="field phone-number split2">
            <div class="form-label">
              <%= f.label :phone_number, class: 'capitalize boldweight inline' %>
              <% if current_user.host? %>
                <span class="sub-label light">
                  Optional; only shared with attendees before tea time
                </span>
              <% else %>
                <span class="sub-label light">
                  Optional; only shared with your host before tea time
                </span>
              <% end %>
            </div>
            <%= f.text_field :phone_number %>
          </div>

          <div class="field city split2">
            <div class="form-label">
              <%= f.label :home_city, class: 'capitalize boldweight inline' %>
              <span class="sub-label light">
                Makes sure you don't miss the good stuff going on near ya
              </span>
            </div>

            <div class="dropdown">
              <%= select(
                resource_name, :home_city_id,
                City.available.collect{ |p| [p.name, p.id] })
              =%>
            </div>
          </div>
        </div>


        <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
          <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
        <% end %>


        <h3 class="form-subheader">
          Change Your Password
        </h3>

        <div class="field">
          <div class="form-label">
            <%= f.label :current_password, class: 'capitalize boldweight' %>
          </div>

          <%= f.password_field :current_password, autocomplete: "off", placeholder: "Current password" %>

        </div>

        <div class="new-password split-container">
          <div class="field split2">
            <div class="form-label">
              <%= f.label :password, "New password", class: 'capitalize boldweight' %>
            </div>

            <%= f.password_field :password, autocomplete: "off", placeholder: "New password" %>
          </div>

          <div class="field split2">
            <div class="form-label">
              <%= f.label :password_confirmation, "Confirm new password", class: 'capitalize boldweight' %>
            </div>

            <%= f.password_field :password_confirmation, autocomplete: "off", placeholder: "One more time!" %>

          </div>
        </div>

        <div class="field">
          <%= f.submit "Save Changes" %>
        </div>
      <% end %>
    </div>
    <div class="cancel-account">
      <h2>
        Cancel my account
      </h2>

      <p>
        Right now, if you have an account, you're getting emails from us. If you want to stop getting them, you have to cancel your account, but we're working on changing this!
      </p>
      <%= button_to "Don't do it",
        registration_path(resource_name),
        :class => 'cancel-account',
        data: { confirm: "It doesn't have to be this way. We can make this work. I promise. There's still time to hit cancel." }, method: :delete %>
    </div>
  </div>
</div>

<%= render partial: 'shared/new_footer' %>
