<div class="container dashboard edit">
  <%= render partial: 'shared/header' %>
  <div class="row">
    <div class="wide">
      <h2>Welcome home!</h2>
      <div class="third left">
        <%= render partial: 'profiles/sidebar' %>
      </div>
      <hr>
      <div class="two-third right">
        <h2 class="main">Edit Your Information</h2>

        <%= form_for(resource,
                     as: resource_name,
                     url: registration_path(resource_name),
                     html: { method: :put }, :multipart => true) do |f|
        %>
          <%= devise_error_messages! %>
          <h3 class="edit-subheader first">Personal Information</h3>

          <div>
            <%= f.label :nickname %>
            <br/>
            <%= f.text_field :nickname, autofocus: true %>
          </div>

          <div>
            <%= f.label :given_name %>
            <br/>
            <%= f.text_field :given_name %>
          </div>

          <div>
            <%= f.label :family_name %>
            <br/>
            <%= f.text_field :family_name %>
          </div>

          <div>
            <%= f.label :email %>
            <br/>
            <%= f.email_field :email %>
          </div>

          <div>
            <%= f.label :home_city %>
            <br/>
            <div class="dropdown">
              <%= select(
                resource_name, :home_city_id,
                City.visible(current_user).
                collect{ |p| [p.name, p.id] })
              =%>
            </div>
          </div>

          <div>
            <%=  f.label :facebook %>
            <br/>
            <%= f.text_field :facebook, placeholder: 'Just the part after http://facebook.com/' %>
          </div>

          <div>
            <%= f.label :twitter %>
            <br/>
            <%= f.text_field :twitter, placeholder: "Don't include the @" %>
          </div>

          <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
            <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
          <% end %>

          <%= render partial: 'host', locals: {f: f } %>

          <h3 class="edit-subheader"> Change Your Password </h3>

          <div>
            <%= f.label :password, "New password" %>
            <br/>
            <%= f.password_field :password, autocomplete: "off", placeholder: "New password" %>
          </div>

          <div>
            <%= f.label :password_confirmation, "Confirm new password" %>
            <br/>
            <%= f.password_field :password_confirmation, autocomplete: "off", placeholder: "One more time!" %>

          </div>

          <div>
            <%= f.label :current_password %>
            <br/>
            <%= f.password_field :current_password, autocomplete: "off", placeholder: "Current password" %>

          </div>

          <div>
            <%= f.submit "Save Changes" %>
          </div>
        <% end %>

        <h3 class="edit-subheader">Cancel my account</h3>
        <p>Unhappy?</p>
        <%= button_to "Cancel my account",
          registration_path(resource_name),
          data: { confirm: "Are you sure?" }, method: :delete %>
      </div>
    </div>
  </div>
</div>
