<% if !attended.count.zero? %>
	<h2>
    Tea times you've attended
  </h2>
  <ul class="past attendee">
    <% attended.each do |a| %>
      <li class="<%= (:cancelled if a.tea_time.cancelled?) %> tea-time">
        <div class="tt-deets">
          <%= render partial: 'teatime_info', locals: {tea_time: a.tea_time, att: a, without_button: true} %>
        </div>
        <div class="other-deets">
          <% if a.tea_time.attendances.length > 0 %>
            <h3 class="light">
              Folks at your tea time
            </h3>
            <%= render partial: 'profiles/history/tea_time_partial_mk_new', locals: {tea_time: a.tea_time, attendances: a.tea_time.attendances} %>
          <% end %>
        </div>
      </li>
    <% end %>
  </ul>
<% elsif !current_user.home_city.nil? && attended.count.zero? %>
  <h2>
    You've never been to a tea time!
  </h2>
  <div class="dash-create-new-tea">
    <%= link_to city_path(current_user.home_city) do %>
      <div class="new-tea-box">
        <div class="plus-sign-container">
          <h1>
            +
          </h1>
        </div>
        <div class="schedule-text-container">
          <div class="schedule-text">
            <h3 class="capitalize">
              Let's change that!
            </h3>
          </div>
        </div>
      </div>
    <% end %>
  </div>
<% else %>
  <h2>
    You've never been to a tea time!
  </h2>
  <div class="dash-create-new-tea">
    <%= link_to 'Find your city here', cities_path do %>
      <div class="new-tea-box">
        <div class="plus-sign-container">
          <h1>
            +
          </h1>
        </div>
        <div class="schedule-text-container">
          <div class="schedule-text">
            <h3 class="capitalize">
              Let's change that!
            </h3>
          </div>
        </div>
      </div>
    <% end %>
  </div>
<% end %>
