<div class="attendees-container host-view">
  <% attendances.order(:status).group_by(&:status).each do |status,atts| %>
    <div class="attendance-section">
      <div class="key">
        <span class="attendance-status <%= status %>">
          (<%= atts.length %>) <%= humanize_attendance_status(status).humanize.titleize.pluralize(atts.count) %>
        </span>

        <span class="email <%= status %>">
          <%= link_to "Email", "mailto:#{tea_time.attendee_emails(filter: ->(x) { x.status != status })}", :target => "_blank" %>
        </span>
      </div>
      <ul class="<%= status %> attendees-list">
        <% atts.map(&:user).each do |a| %>
          <li class="attendee-names">
            <%= link_to a.name, "mailto:#{a.email}", :target => "_blank" %>
          </li>
        <% end %>
      </ul>
    </div>
  <% end %>
</div>