<script>
  // replace the body element of the Rails form helper with the CKEDITOR
  // See more config options at http://docs.ckeditor.com/#!/api/CKEDITOR.config
  CKEDITOR.replace( 'email_reminder[body]', {
    allowedContent: 'p b i; a[!href]',
  });
</script>
<%= form_for @email_reminder, url: @form_url, html: {class: "tea-time"} do |f| %>
  <h3 class="form-subheader first">
    Personalized Email Reminder
  </h3>
  <div class="field">
    <p class="small informational">
      <span class="border-circle">?</span>
      We're working on making this feature easier to use, but for now, you can include links, use bolds, italics, etc. using Markdown. 
      <%= link_to 'Some tips on how to use Markdown here', 'https://github.com/adam-p/markdown-here/wiki/Markdown-Cheatsheet#emphasis' %>. (Yes, we're going to get rid of this and make it easier.)
    </p>
  </div>
  <div class="field city">
    <div class="email-metadata">
      <div class="datum">
        <strong>FROM:</strong>
        "<%= current_user.nickname %> at Tea With Strangers" <<%= current_user.email %> >
      </div>
      <div class="datum">
        <strong>SUBJECT:</strong>
        Your tea time is coming up!
      </div>
    </div>
    <%= f.text_area :body %>
    <div class="addendum">
      <hr> 
      <p class="note">
        Note from the Robots: This email is about your tea time on <%= Time.now.strftime("%A, %b %e at %I:%M%P") %>. It's at Stranger Cafe, 523 14th Street, <%= current_user.home_city.name %>. Enjoy it!
      </p>
      <div class="information">
        ^ This bit is appended to all the emails just to add context.
      </div>
    </div>
  </div>

  <% if @email_reminder.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= "#{pluralize(@email_reminder.errors.count, "error")} prohibited this tea_time from being saved:" %>
      </h2>
      <ul>
        <% @email_reminder.errors.full_messages.each do |msg| %>
          <li>
            <%= msg %>
          </li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions field">
    <% if @email_reminder.persisted? %>
      <div class="update-button">
        <%= f.submit 'Update Email Reminder' %>
      </div>
    <% else %>
      <div class="create-button">
        <%= f.submit 'Create Email Reminder' %>
      </div>
    <% end %>
  </div>
<% end %>
<script>
  // replace the body element of the Rails form helper with the CKEDITOR
  // See more config options at http://docs.ckeditor.com/#!/api/CKEDITOR.config
  CKEDITOR.replace( 'email_reminder[body]', {
    allowedContent: 'p b i; a[!href]',
  });
</script>
