<script>
  // replace the body element of the Rails form helper with the CKEDITOR
  // See more config options at http://docs.ckeditor.com/#!/api/CKEDITOR.config
  CKEDITOR.replace( 'email_reminder[body]', {
    allowedContent: 'p b i; a[!href]',
  });
</script>
<%= form_for @email_reminder, url: @form_url, html: {class: "tea-time"} do |f| %>
  <h3 class="form-subheader">
    Custom Email Reminder
  </h3>
  <div class="field">
    <p class="small">
      <span class="border-circle">?</span>
      By default, your attendees get reminded about tea time 48hrs and 12hrs before it starts. These are from "The Robots at Tea With Strangers". You can customize the T-48hrs note to be from "<%= current_user.nickname %> at Tea With Strangers" to include any specific information and allow attendees to reply directly to you.
      <br>
    </p>
  </div>
  <div class="field city">
    <div class="form-label">
      <%= f.label :body, class: 'capitalize boldweight' do %>
        Draft
      <% end %>
    </div>
    <%= f.text_area :body %>
  </div>

  <% if @email_reminder.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= "#{pluralize(@email_reminder.errors.count, "error")} prohibited this tea_time from being saved:" %>
      </h2>
      <ul>
        <% @email_reminder.errors.full_messages.each do |msg| %>
          <li>
            <%= msg %>
          </li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions field">
    <% if @email_reminder.persisted? %>
      <div class="update-button">
        <%= f.submit 'Update Email Reminder' %>
      </div>
    <% else %>
      <div class="create-button">
        <%= f.submit 'Create Email Reminder' %>
      </div>
    <% end %>
  </div>
<% end %>
