= render partial: 'shared/admin_header'
.container
  %h2 Admin: TeaTime Overview
  - @tea_times.each do |tt|
    .row
      =render partial: 'shared/tea_time_row', locals: {tea_time: tt}
      %table.attendees
        %tr
          %td Name
          %td Email
          %td Attendance Status
          %td Flake Reason
          %td Updated at
        - tt.attendances.each do |a|
          %tr
            %td=  a.user.name
            %td=  a.user.email
            %td=  a.status.to_s.humanize
            %td=  a.reason
            %td=  a.updated_at
