.container.dashboard
  .row
    .wide
      %h1 Send a Mass Mail
      = form_for(@mail, url: {action: 'send_mail'}) do |f|
        = f.label :from, 'From (Optional)'
        %br
        = f.text_field :from
        %br
        = f.label :subject, 'Subject'
        %br
        = f.text_field :subject
        %br
        = f.label :body, 'Body'
        %br
        = f.text_area :body
        %br
        = f.label :city, 'Send To Users in:'
        %br
        .dropdown
          = f.select(:city_id, options_for_select(City.all.collect{ |p| [p.name, p.id] }), {:class => "city"})
        %br
        = f.label :recipients 'Send to:'
        %br
        .dropdown
          = f.select(:recipients, options_for_select(["all", "waitlisted"])
        = f.submit 'Send Mail', confirm: "This is going to cost a few bucks. Are you sure?"
