<div class="row host-intro">
  <div class="wide">
    <div class="half right">
      <img class="host-photo" src="<%= @host.avatar.url(:landscape) %>"/>
      <% if @host.facebook? || @host.twitter? %>
        <div class="social-container">
          <% if @host.facebook? %>
            <div class="social facebook">
              <%= link_to "Facebook", @host.facebook_url %>
            </div>
          <% end %>
          <% if @host.twitter? %>
            <div class="social twitter">
              <%= link_to "Twitter", @host.twitter_url %>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
    <div class="half left">
      <p>
        <em class="starter">
          <%= "Hey, I'm #{@host.name}!" %>
        </em>
      </p>
      <% if @host.summary? %>
        <%= simple_format @host.summary %>
      <% else %>
        <p class="placeholder">
          I have a dream that one day #{@city.name} will be filled with people that have sat together for tea time.
        </p>
      <% end %>
    </div>
  </div>
</div>
<div class="row cta">
  <div class="narrow">
    <%= render partial: 'shared/signup' %>
  </div>
</div>
<div class="row">
  <div class="wide">
    <div class="two-third right">
      <div class="prompt">
        <h3>
          What's your story?
        </h3>
        <% if @host.story? %>
          <%= simple_format @host.story %>
        <% else %>
          <p class="placeholder">
            I once had a really good story, and then I started writing about it. I'm still on that part. When I'm done, it'll be here.
          </p>
        <% end %>
      </div>
      <div class="prompt">
        <h3>
          What might we talk about?
        </h3>
        <% if @host.topics? %>
          <%= simple_format @host.topics %>
        <% else %>
          <p class="placeholder">
            Lots of really interesting and relatable things that I just haven't specified yet.
          </p>
        <% end %>
      </div>
    </div>
    <div class="third left">
      <h3>
        Tea With Strangers
      </h3>
      <p>
        Tea time is a conversation fueled by the stories, questions,
        and listening of a few strangers and a super host.
      </p>
      <h4 class="signup-cta">
        Let's get tea.
      </h4>
      <%= render partial: 'shared/signup' %>
    </div>
  </div>
</div>
<%= content_for :footer do %>
  <div class="wide">
    <p>
      <%= @host.tagline %>
    </p>
  </div>
<% end %>
