.landscape-header.city{style:"background-image: url(#{@city.header_bg.url});"}
  .blur-layer
  .landscape-text
    %h1.heycity
      Hey #{@city.name}!
      %br
      Let's get tea.

.container
  = render partial: 'shared/nav_header'
  - if @city.hosts.count <= 1
    = render partial: 'one_of_one'
  - else
    = render partial: 'one_of_many'
= content_for :footer do
  .wide
    %p= @host.tagline
