<% content_for :title do %>
  <%="Hey, I'm #{@host.name}! | Tea With Strangers"%>
<% end %>

<% content_for :description do %>
  <%= "#{@host.name} hosts tea time with Tea With Strangers in #{@city.name}! Meet some strangers!" %>
<% end %>

<% content_for :head do %>
  <meta content="website" property="og:type"/>
  <meta content="Hey, I'm <%= @host.name %>! | Tea With Strangers" property="og:title"/>
  <meta content="<%= @host.avatar.url(:landscape) %>" property="og:image"/>
  <meta content="<%= @host.name %> hosts tea time with Tea With Strangers in <%= @city.name %>! Meet some strangers!" property="og:description"/>
<% end %>

<div class="light-background">
  <%= render partial: 'shared/header' %>
  <div class="city-banner cover-photo host-profile" style="background-image: linear-gradient(to bottom, rgba(247, 191, 77, 0.87), rgba(247, 191, 77, 0.87)), url('<%= @city.header_bg(:medium) %>')">
    <div class="content">
      <div class="content-box">
        <h1 class="cover-photo-lede city-title">
          <%= "Hey, I'm #{@host.name}!" %>
        </h1>
        <span class="cover-photo-subtext">
          <%= "I host tea time in #{@city.name}" %>
        </span>
      </div>
    </div>
  </div>
 
  <div class="container">
    <div class="all-bio-content">
      <div class="photo-container">
        <div class="host-photo">
          <img class="host-img" src="<%= @host.avatar.url(:landscape) %>"/>
          <% if @host.facebook? || @host.twitter? %>
            <div class="social-container">
              <% if @host.facebook? %>
                <div class="social facebook">
                  <%= link_to "Facebook", @host.facebook_url %>
                </div>
              <% end %>
              <% if @host.twitter? %>
                <div class="social twitter">
                  <%= link_to "Twitter", @host.twitter_url %>
                </div>
              <% end %>
            </div>
          <% end %> 
        </div>
      </div>
      <div class="host-bio">
        <div class="bio-section intro-para">
          <% if @host.summary? %>
            <p>
              <%= simple_format @host.summary %>
            </p>
          <% else %>
            <p class="placeholder">
              <%= "I have a dream that one day #{@city.name} will be filled with people that have sat together for tea time." %>
            </p>
          <% end %>
        </div>
        <div class="bio-section story">
          <h3>
            What's your story?
          </h3>
          <% if @host.story? %>
            <p>
              <%= simple_format @host.story %>
            </p>
          <% else %>
            <p class="placeholder">
              I once had a really good story, and then I started writing about it. I'm still on that part. When I'm done, it'll be here.
            </p>
          <% end %>
        </div>
        <div class="bio-section topics">
          <h3>
            What might we talk about?
          </h3>
          <% if @host.topics? %>
            <p>
              <%= simple_format @host.topics %>
            </p>
          <% else %>
            <p class="placeholder">
              Lots of really interesting and relatable things that I just haven't specified yet.
            </p>
          <% end %>
        </div>
      </div>
    </div>
    <% if @host.tea_times.future.count > 0 %>
      <div class="host-teas">
        <%= render partial: 'shared/tea_times', locals: {tea_times: @host.tea_times.future_until(Date.today+2.weeks).pending.order(:start_time => :asc), host: @host} %>
      </div>
    <% end %>
  </div>
</div>

<%= render partial: 'shared/new_footer' %>