<% host_attributes = [:id, :nickname, :given_name, :family_name] %>
<%= form_for @tea_time do |f| %>
  <%= f.label :start_time %>
  <%= f.datetime_select :start_time %>
  <%= f.label :duration, 'Duration (in Hours)' %>
  <%= f.number_field :duration, value: 2 %>
  <%= f.label :location, 'Location (Place name & address)' %>
  <%= f.text_field :location %>
  <%= f.label :city %>
  <div class="dropdown">
    <%= f.select(:city_id, options_for_select(City.all.select(:id, :name).collect{ |p| [p.name, p.id] }, @tea_time.city.id), {:class => "city"}) %>
  </div>
  <% if current_user.admin? %>
    <%= f.label :host %>
    <div class="dropdown">
      <%= f.select(:user_id, options_for_select(User.hosts.select(*host_attributes).collect{ |p| [p.name, p.id] }, @tea_time.host.id), {:class => "city"}) %>
    </div>
  <% else %>
    <div style="<%= ("display: none;" if !@tea_time.persisted?) %>">
      <%= f.label :host %>
      <div class="dropdown">
        <%= f.select(:user_id, options_for_select(User.hosts.select(*host_attributes).collect{ |p| [p.name, p.id] }, @tea_time.host.id), {:class => "city"}) %>
      </div>
    </div>
  <% end %>
  <% if @tea_time.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= "#{pluralize(@tea_time.errors.count, "error")} prohibited this tea_time from being saved:" %>
      </h2>
      <ul>
        <% @tea_time.errors.full_messages.each do |msg| %>
          <li>
            <%= msg %>
          </li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="actions">
    <div class="create-button">
      <%= f.submit 'Create Tea Time' %>
    </div>
  </div>
  <div class="actions">
    <div class="update-button">
      <%= f.submit 'Update Tea Time' %>
    </div>
  </div>
<% end %>
