<h1>Listing tea_times</h1>
<table>
  <tr>
    <th></th>
    <th></th>
    <th></th>
  </tr>
  <% @tea_times.each do |tea_time| %>
    <tr>
      <td>
        <%= tea_time.host.name %>
      </td>
      <td>
        <%= tea_time.friendly_time %>
      </td>
      <td>
        <%= link_to 'Show', tea_time %>
      </td>
      <td>
        <%= link_to 'Edit', edit_tea_time_path(tea_time) %>
      </td>
      <td>
        <%= link_to 'Destroy', tea_time, :method => :delete, :data => { :confirm => 'Are you sure?' } %>
      </td>
    </tr>
  <% end %>
</table>
<br/>
<%= link_to 'New Tea time', new_tea_time_path %>
