<%= render partial: 'shared/header' %>
<%= render partial: 'profiles/navbar' %>

<div class="container dashboard">
  <div class="dash-intro">
    <div class="photo-container">
      <div class="host-photo">
        <img class="host-img" src="<%= @current_user.avatar.url(:landscape) %>"/>
      </div>
    </div>
    <div class="hello">
      <h2>
        Welcome home, <%= "#{current_user.nickname}!" %>
      </h2>
      <h3 class="gray">
        You look real good today.
      </h3>
    </div>
  </div>
  <div class="dash-body">
    <div class="create-tea form">
      <h2>
        Create a new tea time
      </h2>
      <%= render 'form' %>
    </div>
  </div>
</div>
