.container.dashboard.edit
  = render partial: 'shared/nav_header'
  .row
    .wide
      %h2= "Welcome home, #{current_user.name}!"
      .third.left
        = render partial: 'profiles/old_sidebar'
      .two-third.right
        %h2.main
          Create a New Tea Time
        = render 'form'
        / = link_to 'Back', tea_times_path