<div class="light-background">
  <% prefill = !!current_user %>
  <div class="container">
    <div class="section tt-solo">
      <h2 class="section-header">
        <%= @tea_time.spots_remaining? ? 'Sign up for this tea time' : 'Join the wait list for this tea time' %>
      </h2>
      <div class="tt-form">
        <%= render partial: 'shared/tea_time_row', locals: {tea_time: @tea_time, without_button: display_button?(local_assigns)} %>

        <%= form_for :attendance, url: attendance_tea_time_path(@tea_time), html: {class: 'schedule-tea new_user'} do |f| %>
          <div class="form-body">

            <%= f.text_field :nickname,
                value:        prefill ? current_user.name : '',
                readonly:     prefill,
                placeholder: 'First name (or nickname)'
            %>

            <%= f.email_field :email,
                value:        prefill ? current_user.email : '',
                readonly:     prefill,
                placeholder: 'Email Address'
            %>

            <% if !current_user.phone_number.blank? %>
              <%= f.check_box :provide_phone_number %>
              <%= f.label "Can we give the host you phone number (#{current_user.phone_number}) in case they need to get in touch?" %>
            <% else %>
              <%= f.text_field :phone_number,
                  value:        '',
                  placeholder:  'Phone Number (optional)'
              %>
            <% end %>

            <% if !@tea_time.spots_remaining? %>
              <p class="disclaimer">You'll get an email the moment someone cancels their seat.</p>
            <% end %>
            <div class="button-container">
              <%= f.submit @tea_time.spots_remaining? ? 'Confirm' : 'Join Waitlist', class: 'confirm' %>
              <%= link_to "Nevermind", :back, class: 'cancel' %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
