- prefill = !!current_user
= form_for :tea_time, url: attendance_tea_time_path(@tea_time) do |f|
  = f.label :name, "Your name is"
  = f.text_field :name, value: prefill ? current_user.name : '', readonly: prefill
  = f.label :email, "You check email (and hopefully manage a calendar) at"
  = f.email_field :email, value: prefill ? current_user.email : '', readonly: prefill

  %p Where, when, and with whom you'll be sitting for tea time
  //Ankit do we have a partial for this?

  = link_to 'Cancel', '', class: 'cancel'
  = f.submit 'Confirm', class: 'confirm'

