<div class="light-background">
  <%= render partial: 'shared/header' %>
  <div class="static-banner tea-time intro-to-tws cover-photo">
    <div class="content">
      <div class="content-box">
        <h1 class="cover-photo-lede city-title">
          You should be at this tea time
        </h1>
      </div>
    </div>
  </div>
  <% prefill = !!current_user %>
  <div class="container">
    <div class="section tt-solo">
      <h2 class="section-header">
        <%= @tea_time.spots_remaining? ? 'Sign up for this tea time' : 'Join the wait list for this tea time' %>
      </h2>
      <div class="tt-form">
        <%= render partial: 'shared/tea_time_row', locals: {tea_time: @tea_time, without_button: display_button?(local_assigns)} %>
        <%= form_for :tea_time, url: attendance_tea_time_path(@tea_time), html: {class: 'schedule-tea new_user'} do |f| %>
          <div class="form-body">

            <%= f.text_field :nickname, value: prefill ? current_user.name : '', readonly: prefill, placeholder: 'First name (or nickname)' %>
            <%= f.email_field :email, value: prefill ? current_user.email : '', readonly: prefill, placeholder: 'Email Address' %>
            <% if !@tea_time.spots_remaining? %>
              <p class="disclaimer">You'll get an email the moment someone cancels their seat.</p>
            <% end %>
            <div class="button-container">
              <%= f.submit @tea_time.spots_remaining? ? 'Confirm' : 'Join Waitlist', class: 'confirm' %>
              <%= link_to "Nevermind", :back, class: 'cancel' %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
<%= render partial: 'shared/new_footer' %>
