<header>
  <div class='container'>
    <%= link_to image_tag("landing/logo-navbar.png"), root_path, class: 'tws-logo-type' %>
    <span class="menu-expando tws-logo-type" onclick='toggleHeader()'></span>
    <nav class='nav-list'>
      <ul class='nav-links'>
        <% if current_user && current_user.host? %>
          <li class="nav-link-item">
            <%= link_to current_user.nickname, host_city_path(current_user.home_city, current_user) %>
          </li>
        <% end %>

        <% if !current_user %>
          <li class="nav-link-item">
            <%= link_to "Cities", cities_path %>
          </li>
        <% elsif current_user && current_user.home_city.nil? %>
          <li class="nav-link-item">
            <%= link_to "Set Home City", cities_path, class: 'nav-emphasis' %>
          </li>
        <% else %>
          <li class="nav-link-item">
            <%= link_to current_user.home_city.name, city_path(current_user.home_city) %>
          </li>
          <li class="nav-link-item">
            <%= link_to "Cities", cities_path %>
          </li>
        <% end %>

        <% if !current_user || (current_user && !current_user.host?) %>
          <li class="nav-link-item">
            <%= link_to "Hosting", hosting_path %>
          </li>
        <% end %>

        <% if current_user.nil? %>
          <li class="nav-link-item">
            <%= link_to "About", about_path %>
          </li>
          <li class="nav-link-item">
            <%= link_to 'Sign In', new_user_session_path, id: 'login' %>
          </li>
          <li class="nav-link-item">
            <%= link_to 'Sign Up', next_step_path, id: 'signup', class: 'nav-emphasis' %>
          </li>
        <% else %>
          <li class="nav-link-item">
            <%= link_to 'Dashboard', profile_path %>
          </li>
          <li class="nav-link-item">
            <%= link_to "Account", edit_user_registration_path %>
          </li>
          <li class='nav-link-item'>
            <%= link_to('Sign out', destroy_user_session_path, method: :delete) %>
          </li>
        <% end %>

      </ul>
    </nav>
  </div>
  <!-- TODO flash messages are in this partial because we want them to be below
        the header. But this header partial is currently rendered individually
        in random templates, rather than the layout. -->
  <% flash.each do |key, value| %>
    <div class="flash <%= key %>">
      <%= value %>
    </div>
  <% end %>
</header>
