- if current_user.nil?
  = form_for(resource, as: resource_name, url: registration_path(resource_name),
    class: 'signup') do |f|
    / = f.label :name
    = f.text_field :name, placeholder: 'Full Name'
    / = f.label :email
    = f.email_field :email, placeholder: 'Email Address'
    - if dropdown ||= false
      .city-dropdown
        = select_tag :city, options_for_select(City.all.map{ |c| [c.name, c.id] })
    - elsif @city ||= nil
      = hidden_field :city, :id, {name: :city}
    = f.hidden_field :autogen, value: true
    = f.submit "Let's Get Tea*"
    %h6.footnote *YOLO.
- else
  %p 
    You've already registered for tea time!
    =link_to("Go sign up for one!", "#cities")
