- if current_user.nil?
  = form_for(resource, as: resource_name, url: registration_path(resource_name), class: 'signup') do |f|
    = f.text_field :name, placeholder: 'Full Name'
    = f.email_field :email, placeholder: 'Email Address'
    - if dropdown ||= false
      .dropdown
        = select_tag :city, options_for_select((cities ||= City.visible).map{ |c| [c.name, c.id]}), {prompt: "Select Your City"}
    - elsif (@city ||= (city ||= nil))
      = hidden_field :city, :id, {name: :city}
    = f.hidden_field :autogen, value: true
    = f.submit "Let's Get Tea*"
    %h6.footnote *YOLO.
- else
  .already
    %h4.schedule.button
      - if @city
        =link_to("Schedule tea time", schedule_city_path(@city))
      -else
        =link_to("Schedule tea time", schedule_city_path(current_user.home_city))
    %h5.logout
      =link_to "If you're not #{current_user.name}, click here and sign up yourself!", destroy_user_session_path, method: :delete
