.row.tea-time
  .two.column
    %img.host-avatar.tiny{src: tea_time.host.avatar.url(:thumb)}
  .seven.columns
    %p
      = tea_time.start_time
      %br
      = tea_time.location
  .four.columns.host-name
    %p= tea_time.host.name
  = link_to "#signup", class: ["button", tea_time.spots_remaining? ? :green : :red] do
    .three.columns
      - if tea_time.spots_remaining?
        = "#{tea_time.spots_remaining} spots left"
      - else
        Full
