.row.tea-time
  .host-photo
    %a{href:host_city_path(tea_time.city.id, tea_time.host.id)}
      .avatar-container
        .avatar{style:"background-image: url(#{host.avatar.url(:medium)});"}
          / %img.avatar-image{src:tea_time.host.avatar.url(:medium)}
      %h6.host-name= "#{tea_time.host.name}"
  .everything-else
    .time-and-place
      .t-p-container
        %h6.top
          = tea_time.friendly_time
        %h6.bottom
          .host
            %span.datalabel
              Host:
            = link_to tea_time.host.name, host_city_path(tea_time.city, tea_time.host)
          .location
            %span.datalabel
              Location:
            = tea_time.location
    - if !(without_button ||= false)
      .button
        = link_to tea_time_path(tea_time), class: 'tea-time-scheduling' do
          - if tea_time.spots_remaining?
            %button.button{:class => "spots#{tea_time.spots_remaining}"}
              = "#{tea_time.spots_remaining} spots left"
          - else
            %button.red.button{disabled: true}
              Full
