.row.mobulewide
  .wide
    %h3.sectionhead.schedule
      /TODO: Remove after Forbes/Inc
      - if host ||= nil
        - str = " with #{host.name}"
      = 'Join for an upcoming tea time' + (str||="")
    .mobilepad
      - tea_times.each do |tt|
        = render partial: 'shared/tea_time_row', locals: {tea_time: tt}
      - if (host ||= nil)
        %h5 If none of these work for you, #{link_to "sign up for a tea time with any of the other hosts in #{@city.name} here!", schedule_city_path(@city)}
