.row.tea-time
  .host-photo
    .avatar-container
      .avatar{style:"background-image:url(#{tea_time.host.avatar.url(:medium)});"}
  .time-and-place
    .t-p-container
      %h6.top
        = tea_time.friendly_time
      %h6.bottom
        %span.datalabel
          Host:
        = link_to tea_time.host.name, host_city_path(tea_time.city, tea_time.host)
        %br
        %span.datalabel
          Location:
        = tea_time.location
  .button
    = link_to tea_time_path(tea_time), class: 'tea-time-scheduling' do
      - if tea_time.spots_remaining?
        %button.button
          = "#{tea_time.spots_remaining} spots left"
      - else
        %button.red.button{disabled: true}
