.row.tea-time
  .host-photo
    .avatar-container
      .avatar{style:"background-image:url(#{tea_time.host.avatar.url(:medium)});"}
  .time-and-place
    .t-p-container
      %h6.top
        = tea_time.friendly_time
      %h6.bottom
        %span.datalabel
          Host:
        = tea_time.host.name
        %br
        %span.datalabel
          Location:
        = tea_time.location
  .button
    = button_to attendance_tea_time_path(tea_time), class: ["button", tea_time.spots_remaining? ? :green : :red] do
      - if tea_time.spots_remaining?
        = "#{tea_time.spots_remaining} spots left"
      - else
        Full
