<div class="section city-intro coldwater-letter">
	<h2 class="section-header">
    Dear <%= current_user.nickname %>,
  </h2>
  <h3>
    We're going to review your city submission for <%= @city.name %> as soon as we can. We don't have an ETA for when we'll get to you yet. The moment we do, you will be emailed about it.
  </h3>
  <p>
    Right now, we're focusing on doing the best job we can in 
      <a href="http://www.teawithstrangers.com/NYC" target="_blank">New York</a>, 
      <a href="http://www.teawithstrangers.com/SF" target="_blank">San Francisco and the Bay Area</a>, 
      <a href="http://www.teawithstrangers.com/LONDON" target="_blank">London</a>, 
      <a href="http://www.teawithstrangers.com/BOS" target="_blank">Boston</a>, 
      <a href="http://www.teawithstrangers.com/CHI" target="_blank">Chicago</a>, and
      <a href="http://www.teawithstrangers.com/DC" target="_blank">DC</a>.
  </p>
  <p>
    That means finding amazing hosts, fostering a strong community amongst them, ensuring that tea times are happening regularly, and that every conversation inspires questions, new perspectives, and the reminder that we're far more the same than we are different.
  </p>
  <p>
    We're still trying to nail the formula to do this well, and when we have more of the puzzle made out, we'll bring Tea With Strangers to more cities.
  </p>
  <h3>
    Make sure your home city is set properly. When we approve your city submission, <%= @city.name %> will show up on the list of cities so others can do the same. 
  </h3>
  <%= render partial: 'cities/show/set_city' %>
  <h3>
    If you're bummed about having to wait...
  </h3> 
  <p>
    Go to your local park, library, cafe, or any other community center and ask someone how they're doing. 
  </p>
  <p>
    Tea With Strangers is a slightly less fear-inducing way of doing pretty much that, but you have all the courage you need to make this happen yourself. Really.
  </p>
  <h3>
    If you are ever in 
      <a href="http://www.teawithstrangers.com/NYC" target="_blank">NYC</a>, 
      <a href="http://www.teawithstrangers.com/SF" target="_blank">SF</a>, 
      <a href="http://www.teawithstrangers.com/LONDON" target="_blank">London</a>, 
      <a href="http://www.teawithstrangers.com/BOS" target="_blank">Boston</a>, 
      <a href="http://www.teawithstrangers.com/CHI" target="_blank">Chicago</a>, or
      <a href="http://www.teawithstrangers.com/DC" target="_blank">DC</a>...
  </h3>
  <p>
    Go to the appropriate city page and go to a tea time there! And tell your friends in those cities to go to tea times and live vicariously through them!
  </p>
  <h3>
    If you want to become a host when we're ready to go in <%= @city.name %>...
  </h3>
  <p>
    Let us know that you want to become a host by going here: <%= link_to "Hosting With Tea With Strangers", hosting_path %>.
  </p>
</div>
<div class="section learn-more">
	<%= render partial: 'shared/learn_more' %>
</div>