<%= render partial: 'shared/header' %>
<div class='intro-to-tws cover-photo'>
  <div class='content'>
    <div class='content-box'>
      <h1 class='cover-photo-lede'>
        Everyone is interesting
      </h1>
      <h4 class='cover-photo-sub'>
        But you don’t discover that when you’re staring at a screen.
      </h4>
      <%= link_to sign_up_path, class: 'sign-up' do %>
        <button class='orange cover-photo-cta'>
          Let's Get Tea
        </button>
      <% end %>
    </div>
  </div>
</div>
<%#= render partial: 'shared/press_list', locals: {items: @press}%>
<div class="tea-explainers container">
  <div class="tea-explainer">
    <%= image_tag 'landing/1.png', class: ['left', 'tea-explainer-illustration'] %>
    <div class="tea-explainer-copy right">
    	<h2 class="tea-explainer-header">
    	  It’s weird.
    	</h2>
    	<p class="tea-explainer-body">
    	  Everyone at tea time is stepping a little out of their comfort zone. 
        This makes it so much easier to actually learn something unexpected 
        about the people around you. Because open minds are a prerequisite around here.
    	</p>
    </div>
  </div>
  <div class="tea-explainer">
    <%= image_tag 'landing/2.png', class: ['right', 'tea-explainer-illustration'] %>
    <div class="tea-explainer-copy left">
    	<h2 class="tea-explainer-header">
        We won't meet otherwise.
    	</h2>
    	<p class="tea-explainer-body">
    	  In all likelihood, our paths won’t cross for any reason. So often, we meet 
        through work, school, or friends of friends. Even then, it’s questionable. 
        So basically, we manufacture serendipity.  
    	</p>
    </div>
  </div>
  <div class="tea-explainer">
    <%= image_tag 'landing/3.png', class: ['left', 'tea-explainer-illustration'] %>
    <div class="tea-explainer-copy right">
    	<h2 class="tea-explainer-header">
        Your hands are made for high fiving!
      </h2>
    	<p class="tea-explainer-body">
    	  And your eyes are made…for eye contact! Real humans are so much cooler than 
        their tweets or Instagram pictures. We have loads of real humans in these parts.
    	</p>
    </div>
  </div>
</div>
<div class="cta-footer cover-photo">
  <div class='content'>
    <div class='content-box'>
      <h1 class="dark">
        Ready to take the plunge?
      </h1>
      <%= link_to sign_up_path, class: 'sign-up' do %>
        <button class='orange cover-photo-cta'>
          Sign Up
        </button>
      <% end %>
    </div>
  </div>
</div>
