.landscape-header
  .blur-layer
  .landscape-text
    %h1 
      Let's get tea.
.container
  = render partial: 'shared/nav_header'
  .row
    .narrow
      %p.big
        Tea time is a conversation fueled by the stories, questions, and listening of a few strangers and a super host.
      %p.big
        You should sign up and come sometime. 
        %a{href: '#footer'} Yes, you.
      = render partial: 'shared/signup', locals: {dropdown: true}
  .row
    .wide.something-funny
      %h3.divider
        We're strangers, but we're not that strange.
      %p.big
        We all have good days and bad days. We're all scared of something, have loved ones, pet peeves, insecurities, points of pride, and passions that matter to us.
      %p.big
        The funny thing is that without common friends, interests, or fields of work, we probably won't cross paths. So it's hard to see how similar we actually are in our day-to-day (even if we're following each other on Instatweetbook.)
      %p.big
        But we might just start to see it if we sit for a conversation. It's a better shot than reading a website about strangers, at the least.
  #cities.row.cities.mobilewide
    .wide
      .mobilepad
        %h3.divider.with-sub
          So let's get tea!
        %h4.divider-sub
          We bring tea time to cities when we know the locals are into it and we have hosts ready to go!
      %ul.cities.single-host
        - @cities_by_host[:hosts].each do |c|
          = render partial: 'shared/city_hosts_item', locals: {city: c, city_class: 'single-host'}
  .upcoming.cities.row.mobilewide
    .wide
      .mobilepad
        %h3.divider.with-sub
          Sign up to stay looped in on where we're coming.
        %h4.divider-sub
          We're making sure that tea time is where you are. If any of the below is home for you, sign up so we can keep you posted when we're near!
      %ul.cities.no-host
        - @cities_by_host[:no_hosts].each do |c|
          = render partial: 'shared/city_hosts_item', locals: {city: c, city_class: 'single-host'}
      .mobilepad
        %h4.divider-sub.top-margin
          If home is some place else for you and you think you'd lead the charge in bringing tea time there, 
          = link_to "check out the hosting page and email us.", hosting_path
- content_for(:footer) { render partial: 'shared/footer'}
