.landscape-header
  .blur-layer
  .landscape-text
    %h1 
      Let's get tea.
.container
  = render partial: 'shared/nav_header'
  .row
    .narrow
      %p.big
        Tea time is a two hour conversation fueled by the stories, questions, and listening of a few strangers and a super host.
      %p.big
        You should sign up and come sometime. Yes, you.
      = render partial: 'shared/signup', locals: {dropdown: true}
  .row
    .wide.something-funny
      %h3.divider
        We're strangers, but we're not that strange.
      %p.big
        We all have good days and bad days. We're all scared of something, have loved ones, pet peeves, insecurities, points of pride, and passions that matter to us.
      %p.big
        The funny thing is that without common friends, interests, or fields of work, we probably won't cross paths. So it's hard to see how similar we actually are in our day-to-day (even if we're following each other on Instatweetbook.)
      %p.big
        But we might just start to see it if we sit for a conversation. It's a better shot than reading a website about strangers, at the least. Let's get tea.
  #cities.row
    .wide
      %h3.divider
        Where we are
      %ul.cities.multiple-hosts
        - @cities_by_host[:many_hosts].each do |c|
          %li
            .city-bg{style:"background-image:url(#{city.header_bg.url});"}
              %h3= link_to c.name, city_path(c)
              %ul.hosts
                - c.hosts.each do |h|
                  %li
                    .avatar-container.quarter
                      .avatar{style:"background-image:url(#{h.avatar.url(:medium)});"}
                    %h5.host-name= link_to h.name, host_city_path(c, h)
      %ul.cities.single-host
        - @cities_by_host[:single_host].each do |c|
          %li
            .city-bg{style:"background-image:url(#{c.header_bg.url});"}
              %h3= link_to c.name, city_path(c), {class: 'single-host'}
            .host-container
              %ul.hosts
                - c.hosts.each do |h|
                  %li
                    .avatar-container.quarter
                      .avatar{style:"background-image:url(#{h.avatar.url(:medium)});"}
                    %h5.host-name= link_to h.name, host_city_path(c, h)
  .upcoming.cities.row
    .wide
      %h3.divider
        Where we're coming
      %ul.cities.no-host
        //No host cities (where we'll be soon)
        - @cities_by_host[:no_hosts].each do |c|
          %li
            .city-bg{style:"background-image:url(#{c.header_bg.url});"}
              %h3= link_to c.name, city_path(c), {class: 'single-host'}
= render partial: 'shared/footer'
