.landscape-header
  .blur-layer
  .landscape-text
    %h1 
      Let's get tea.
.container
  = render partial: 'shared/nav_header'
  .row
    .narrow
      %p.big
        Tea time is a two hour conversation fueled by a few strangers, a super
        host, good questions, stories, and lots of listening.
      %p.big.last
        You should come sometime. Or fivetimes.
      = render partial: 'shared/signup', locals: {dropdown: true}
  .row
    .wide.something-funny
      %h3.divider
        Something funny happens when strangers sit together for two hours.
      %p.big
        We don't really have a specific reason to talk, so this could be awkward. We probably don't have connections through work, mutual friends, or any particular common interests.
      %p.big
        But we aren't actually that different. We're all proud, insecure, believers of something or another, passionate about things that matter to us, and we have loved ones — and when we sit, listen, and share thoughts and stories, we start seeing that.
      %p.big
        But goodness, we won't see it by reading a website about strangers, and we definitely won't see it by connecting on Instatweetbook.
  #cities.row
    .wide
      %h3.divider
        Where we are
      %ul.cities
        - @cities_by_host[:many_hosts].each do |c|
          %li= link_to c.name, city_path(c)
        - @cities_by_host[:single_host].each do |c|
          %li= link_to c.name, city_path(c), {class: 'single-host'}
  .row
    .wide
      %h3.divider
        Where we're coming
      %ul.cities
        //No host cities (where we'll be soon)
        - @cities_by_host[:no_hosts].each do |c|
          %li= link_to c.name, city_path(c)
