<% content_for :title do %>Stranger Open House, by Tea With Strangers<% end %>
<% content_for :description do %>We're learning how to design an evening of amazing conversations and we're going to be trying new things while we work to find something that we know will be awesome, every time.<% end %>
<% content_for :head do %>
  <meta property="og:url" content="http://www.teawithstrangers.com/openhouse"/>
  <meta property="og:type" content="website"/>
  <meta property="og:title" content="Stranger Open House, by Tea With Strangers"/>
  <meta property="og:image" content="http://f.cl.ly/items/00161S2K1H2u3I3N1m43/openhouse.jpg"/>
  <meta property="og:description" content="We're learning how to design an evening of amazing conversations and we're going to be trying new things while we work to find something that we know will be awesome, every time."/>
<% end %>

<div class="body-edit birthdays openhouse">
  <div class="container">
    <div class="landscape-header"></div>
    <div class="content">
      <div class="full-strip logo">
        <div class="margin-container logo">
          <%= link_to 'Tea With Strangers', root_path %>
        </div>
      </div>
      <div class="strip">
        <div class="right third">
          <div class="ticket-container">
            <span class="pre">Next Event</span>
            <h3>Tues, Sept 23</h3>
            <h4 class="time">7 – 9pm</h4>
            <h4 class="loc">Samovar Tea Lounge Hayes Valley, 297 Page Street</h4>
            <h4 class="cost">$25</h4>
            <a class="button" target="_blank" href="https://www.tilt.com/campaigns/stranger-open-house-ii-by-tea-with-strangers">Get a ticket!</a>
            <span class="post">(Before they sell out, really)</span>
          </div>
        </div>
        <div class="left two-third">
          <h3>
            We're learning how to design an evening for amazing conversations.
          </h3>
          <p>
           We're going to be trying new things while we work to find something that we know will be awesome, every time. (Well, a significant portion of the time. No such thing as perfect.)
          </p>
          <p>
            Sometimes, we'll tell you what we're doing. Sometimes, you'll just find out when you get there.
          </p>
          <p>
            We're not ready to share what's up for September 23 yet, but if you're willing to take chances, <a target="_blank" href="https://www.tilt.com/campaigns/stranger-open-house-ii-by-tea-with-strangers">grab a ticket now</a>.
          </p>
        </div>
        <div class="old">
          <div class="details-container">
            <p>This was the lowdown at our last event on September 9. Click through to see how it went.</p>
            <%= link_to image_tag("openhouse-I-hr1.png", alt: "Openhouse September 9 Details Hour 1"), 'https://www.facebook.com/media/set/?set=a.692635654156350.1073741834.542640869155830', target: "_blank" %>
            <%= link_to image_tag("openhouse-I-hr2.png", alt: "Openhouse September 9 Details Hour 2"), 'https://www.facebook.com/media/set/?set=a.692635654156350.1073741834.542640869155830', target: "_blank" %>
          </div>
        </div>
      </div>
      <div class="full-strip bday-logo openhouse-logo">
        <div class="margin-container openhouse-logo"></div>
      </div>
      
      <div class="strip last empty"></div>
    </div>
    <div class="footer">
      <div class="strip">
        <p>
          <%= link_to 'Tea With Strangers', root_path %> is all about bringing people together for meaningful and fun interactions. We're mostly known for tea time — a conversation between a few strangers and a super host. You should sign up and join (if you've signed up before, <%= link_to 'log in and find a time here', new_user_session_path %>.)
        </p>
        <div class="signup-center">
          <%= render partial: 'shared/signup', locals: {dropdown: true} %>
        </div>
      </div>
    </div>
  </div>
</div>