<% content_for :title do %>Stranger Open House, by Tea With Strangers<% end %>
<% content_for :description do %>We're learning how to design an evening of amazing conversations and we're going to be trying new things while we work to find something that we know will be awesome, every time.<% end %>
<% content_for :head do %>
  <meta property="og:url" content="http://www.teawithstrangers.com/openhouse"/>
  <meta property="og:type" content="website"/>
  <meta property="og:title" content="Stranger Open House, by Tea With Strangers"/>
  <meta property="og:image" content="http://f.cl.ly/items/00161S2K1H2u3I3N1m43/openhouse.jpg"/>
  <meta property="og:description" content="We're learning how to design an evening of amazing conversations and we're going to be trying new things while we work to find something that we know will be awesome, every time."/>
<% end %>

<div class="body-edit birthdays openhouse">
  <div class="container">
    <div class="landscape-header"></div>
    <div class="content">
      <div class="full-strip logo">
        <div class="margin-container logo">
          <%= link_to 'Tea With Strangers', root_path %>
        </div>
      </div>
      <div class="strip">
        <div class="right third">
          <div class="ticket-container">
            <div class="box-section next-info">
              <span class="pre">Next Event</span>
              <h3>Tues, Oct 7</h3>
              <h4 class="time">7 – 9pm</h4>
              <h4 class="loc">Samovar Tea Lounge Hayes Valley, 297 Page Street</h4>
              <h4 class="cost">$25</h4>
              <a class="button" target="_blank" href="https://www.tilt.com/campaigns/stranger-open-house-iii?utm_source=TWS&utm_medium=landing&utm_campaign=ohIII">Get a ticket!</a>
              <span class="post">(Before they sell out, really)</span>
            </div>
            <div class="box-section general-info">
              <span class="pre">The General Lowdown</span>
              <h2>
                Open House is an experiment. Each one is different.
              </h2>
              <h4>
                We're learning how to design an evening for large numbers and amazing conversations.
              </h4>
              <p>
                We're going to be trying new things while we work to find something that we know will be awesome, every time. (Well, a significant portion of the time. No such thing as perfect.)
              </p>
            </div>
          </div>
        </div>
        <div class="left two-third">
          <div class="event next">  
            <div class="event-detail">
              <div class="photo">
                <figure class="featured">
                </figure>
              </div>
              <div class="deets next">
                <span class="date pt">October 7</span>
                <span class="time pt">7 – 9pm</span>
                <span class="place pt">Samovar Tea Lounge, Hayes Valley</span>
              </div>
              <div class="title">
                <h3>Conversation Menus</h3>
              </div>
              <div class="description">
                <p>
                  We will use the first 30 minutes to settle in. For an hour, we'll pair strangers up and hand everyone a "conversation menu" with starters, main courses, and desserts — of questions — to guide the direction of the conversations. They will be strongholds in the conversation, but any pair that wants to do their own thing can feel free.
                <p>
                  We'll start light, but by the end of the night, you'll end up super close to your new friend.*
                </p>
              </div>
            </div>
            <div class="tickets">
              <a class="button" target="_blank" href="https://www.tilt.com/campaigns/stranger-open-house-iii?utm_source=TWS&utm_medium=landing&utm_campaign=ohIII">Get your ticket!</a>
            </div>
            <div class="learnings">
              <div class="testimonials">
              </div>
              <div class="section assumptions">
                <h5>Assumptions</h5>
                <ul>
                  <li>Any two people can connect meaningfully if you give them time.</li>
                  <li>A menu of conversation options will be a unique enough experience that it should breed stronger camaraderie.</li>
                  <li>Giving explicit prompts to steer a conversation from mundane and light to profound and deep will yield more authentic connection than light suggestions.</li>
                  <li>Small, seated groups reduce the uncertainty of having someone to connect with.</li>
                  <li>When attendees feel accountable to one other person, even if anonymous beforehand, will feel stronger agency at the event.</li>
                </ul>
              </div>
              <div class="section takeaways">
              </div>
            </div>
          </div>
          <div class="event past ohII">
            <div class="photo">
              <figure class="featured">
                <%= image_tag("ohII.jpg", class: "ohII", alt: "Openhouse September 23 Part II Featured Shot") %>
              </figure>
            </div>
            <div class="non-photo-container">
              <div class="event-detail">
                <div class="deets past">
                  <span class="date pt">September 23</span>
                  <span class="time pt">7 – 9pm</span>
                  <span class="place pt">Samovar Tea Lounge, Hayes Valley</span>
                </div>
                <div class="title">
                  <h3>A Night of Stories</h3>
                </div>
                <div class="description">
                  <p>
                    We spent the first 30 minutes letting people roll in and acquaint themselves. Every 30 minutes for the next hour and a half, everyone broke into groups of 4 and sat at themed tables to share stories.
                  <p>
                    The four table themes were <strong>Aspirations</strong>, <strong>Changes</strong>, <strong>Growing Up</strong>, and <strong>Relationships</strong>. Each table had a few questions for starters.
                  </p>
                </div>
              </div>
              <div class="learnings">
                <div class="testimonials">
                </div>
                <div class="section assumptions">
                  <h5>Assumptions</h5>
                  <ul>
                    <li>People need time to adjust to an environment before being thrown into an experience.</li>
                    <li>Short and powerful conversations (30 minutes) increase the baseline of depth that people are receptive to. Each subsequent 30 minute block should get further in 30 minutes than the one prior.</li>
                    <li>Themes that are universally applicable create a sense of common ground when paired with pointed questions.</li>
                    <li>Small, seated groups reduce the uncertainty of having someone to connect with.</li>
                  </ul>
                </div>
                <div class="section takeaways">
                  <h5>What we learned</h5>
                  <ul>
                    <li>30 minutes is a tease. People want to sit longer.</li>
                    <li>Having space between each table makes each conversation feel more its own thing. Closeness with other groups makes it hard not to eavesdrop and lose focus.</li>
                    <li>People sit with otherwise unlikely conversation candidates when the constraint of "sit with someone you normally wouldn't" is explicit.</li>
                    <li>Rotating groups gives people a sense of hope when one group is reasonably dull.</li>
                    <li>Suggesting questions doesn't ensure people will resort to them, even if their conversation is small-talk heavy.</li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <div class="event past ohI">
            <div class="photo">
              <figure class="featured">
                <%= image_tag("ohI.jpg", class: "ohI", alt: "Openhouse September 9 Part I Featured Shot") %>
              </figure>
            </div>
            <div class="non-photo-container">
              <div class="event-detail">
                <div class="deets past">
                  <span class="date pt">September 9</span>
                  <span class="time pt">7 – 9pm</span>
                  <span class="place pt">Samovar Tea Lounge, Hayes Valley</span>
                </div>
                <div class="title">
                  <h3>Conversation Cards</h3>
                </div>
                
                <div class="description">
                  <p>
                    The first hour, we passed out blue, PLAYFUL conversation cards. These all had questions that were more trivia-based, hypotheticals and whatnot. The second hour, we passed around PERSONAL card. These had more intimate questions around relationships, memories, and emotions.
                  </p>
                  <p>
                    Then we let people hang, drink tea, eat scones, and saw what happened.
                  </p>
                </div>
              </div>
              <div class="learnings">
                <div class="testimonials">
                </div>
                <div class="section assumptions">
                  <h5>Assumptions</h5>
                  <ul>
                    <li>In large, mingly environments, it's hard to reach a conversation of depth because asking "real" questions seems out of place.</li>
                    <li>Questions are the friction, but if we can decrease friction with game-like cards, conversations will deepen.</li>
                    <li>If everyone's on the same page regarding depth of average questions, given the option of light questions or heavier ones, people will opt for the heavier.</li>
                    <li>Average depth of conversations can be measured using overall volume and person turnover as proxies. Intimate conversations are usually quieter and more pointed; they are also longer and involve less person-switching.</li>
                  </ul>
                </div>
                <div class="section takeaways">
                  <h5>What we learned</h5>
                  <ul>
                    <li>If it's loud, it's loud. This is a dealbreaker.</li>
                    <li>Standing room only encourages person turnover even when the conversations are good. There's lower commitment to any one person because distraction is everywhere.</li>
                    <li>Conversation cards are often used not as the primary conversation but, rather, as a crutch when conversations get bland.</li>
                    <li>Personal questions aren't taken with appropriate weight in loosely-bound groups. People share more when they know everyone is committed to listening.</li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- <div class="old">
          <div class="details-container">
            <p>This was the lowdown at our last event on September 9. Click through to see how it went.</p>
            <%= link_to image_tag("openhouse-I-hr1.png", alt: "Openhouse September 9 Details Hour 1"), 'https://www.facebook.com/media/set/?set=a.692635654156350.1073741834.542640869155830', target: "_blank" %>
            <%= link_to image_tag("openhouse-I-hr2.png", alt: "Openhouse September 9 Details Hour 2"), 'https://www.facebook.com/media/set/?set=a.692635654156350.1073741834.542640869155830', target: "_blank" %>
          </div>
        </div> -->
      </div>
      <div class="full-strip bday-logo openhouse-logo">
        <div class="margin-container openhouse-logo"></div>
      </div>
      
      <div class="strip last empty"></div>
    </div>
    <div class="footer">
      <div class="strip">
        <p>
          <%= link_to 'Tea With Strangers', root_path %> is all about bringing people together for meaningful and fun interactions. We're mostly known for tea time — a conversation between a few strangers and a super host. You should sign up and join (if you've signed up before, <%= link_to 'log in and find a time here', new_user_session_path %>.)
        </p>
        <div class="signup-center">
          <%= render partial: 'shared/signup', locals: {dropdown: true} %>
        </div>
      </div>
    </div>
  </div>
</div>