.container.user-form
  = render partial: 'shared/nav_header'
  - prefill = !!current_user
.container.user-form
  .mobilepad
    %h2.admin-head You'll be missed!
    .modal-body
      %p.modal-text
        No hard feelings, but if you would, do share a quick word about what came up! We could use some lessons in why people make then unmake commitments. 
      = form_for(@attendance, url: update_attendance_tea_time_path(@attendance.tea_time, @attendance), method: :put) do |f|
        .form-body
          .input-container
            .label-container
              = f.label :reason, 'I have to skip out because...', class: 'reason'
              %span.optional (optional)
            = f.text_field :reason, placeholder: 'My dog ate my tea time spot.'
          .button-container
            = f.submit 'Cancel my spot', class: 'confirm'
            = link_to 'Actually, I\'m in', :back, class: 'cancel'
