<div class="container user-form">
	<%= render partial: 'shared/nav_header' %>

	<h2 class="admin-head">Sign in</h2>

	<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
	  <div>
		  <%= f.email_field :email, autofocus: true, placeholder: "Email Address" %>
	  </div>

	  <div>
	    <%= f.password_field :password, autocomplete: "off", placeholder: "Password" %>
	  </div>

	  <div class="left">
		  <% if devise_mapping.rememberable? -%>
		    <div class="remember-me"><%= f.check_box :remember_me %> <%= f.label :remember_me %></div>
		  <% end -%>

		  <%- if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations' %>
		  	<%= link_to "Forgot your password?", new_password_path(resource_name), :class => "forgot-pw link" %>
		  <% end -%>
	  </div>

	  <div class="sign-in button"><%= f.submit "Sign in" %></div>
	<% end %>

</div>

	<!--<%= render "devise/shared/links" %>-->
