.row
  .narrow.howitworks
    %h3.divider 
      = "There are no tea times happening in #{@city.name} at the moment!"
    - if @city.hosts.empty?
      %p 
        We're working to make sure that we have amazing hosts and enough people to ensure that tea time won't just be you and...you. You'll get an email the second we're ready!
    - else
      %p= "Our hosts are busy collecting stories that they're probably going to share at tea time, but when they're back, we're going to open up some more tea times ASAP!"
    %p 
      In the meantime, here are two things you should do:
  .wide.action
    %ul.two-things
      %li
        %h4
          Tell not-so-strangers in your area about tea time
        %p
          = "Post a facebook status or a tweet about Tea With Strangers, linking to #{@city.name}'s page."
      %li
        %h4
          Enjoy stories from tea time
        %p
          We share some good stories from tea time, discuss some of the funny things about open communication, and share lots of behind the scenes details about Tea With Strangers on our facebook page (and very soon, our blog.)
          %a{href:'http://facebook.com/teawithstrangers'} You should check it out and like our page here.