
<%= content_for :title do %>
  <%="#{@city.name} | Tea With Strangers"%>
<% end %>

<%= content_for :description do %>
  <%= "Tea With Strangers is a community of people that bring strangers together for great conversations. We're all about making cities feel more like neighborhoods. Come join in #{@city.name}!"%>
<% end %>

<%= content_for :head do %>
  <meta property ="og:type" content="website"/>
  <meta property ="og:title" content='<%= "Tea With Strangers in #{@city.name}"%>'/>
  <meta property ="og:image" content='<%= "#{@city.header_bg.url}"%>'/>
  <meta property ="og:description" content ="Tea With Strangers is a community of people that bring strangers together for great conversations. We're all about making cities feel more like neighborhoods."/>
<% end %>

<<<<<<< HEAD
<%= render partial: 'shared/header' %>
<%= render partial: 'cities/show/city_banner' %>
<div class="container">
  <div class="city-info">
    <%= render partial: 'cities/show/fallback' %>
    <!---
  	<% if @city.unapproved? %>
  	  <%= render partial: 'cities/show/unconfirmed' %>
  	<% elsif @city.cold_water? %>
  	  <%= render partial: 'cities/show/cold_water' %>
  	<% else %>
  	  <%= render partial: 'cities/show/active_waitlisted' %>
  	<% end %>
  -->
=======
<div class="light-background">
  <%= render partial: 'shared/header' %>
  <%= render partial: 'cities/show/city_banner' %>
  <div class="container">
    <div class="city-info">
    	<% if @city.unapproved? %>
    	  <%= render partial: 'cities/show/unconfirmed' %>
    	<% elsif @city.cold_water? %>
    	  <%= render partial: 'cities/show/cold_water' %>
    	<% else %>
    	  <%= render partial: 'cities/show/active_waitlisted' %>
    	<% end %>
    </div>
    <% if @city.unapproved? %>
    <% else %>
      <div class='sharing-info'>
        <%= render partial: 'shared/sharing_widget', locals: {city: @city} %>
      </div>
    <% end %>
>>>>>>> 4fc6afc... suggest city and city page updates
  </div>
</div>
