- if @city.tea_times.empty?
  - content_for :title do 
    #{@city.name}, tea time is coming! | Tea With Strangers
  - content_for :description do
    Tea With Strangers is coming soon to #{@city.name}! We're working at it. Sign up for a heads up when we're there!
  - content_for :head do
    %meta{:property => "og:type", :content => "website"}
    %meta{:property => "og:title", :content => "#{@city.name}, tea time is coming! | Tea With Strangers"}
    %meta{:property => "og:image", :content => "#{@city.header_bg.url}"}
    %meta{:property => "og:description", :content => "Tea With Strangers is coming soon to #{@city.name}! We're working at it. Sign up for a heads up when we're there!"}
- else
  - content_for :title do 
    #{@city.name} Tea Time Schedule | Tea With Strangers
  - content_for :description do 
    Tea With Strangers is all about making meaningful interactions more fun. Meet some strangers in #{@city.name}!
  - content_for :head do
    %meta{:property => "og:type", :content => "website"}
    %meta{:property => "og:title", :content => "#{@city.name} Tea Time Schedule | Tea With Strangers"}
    %meta{:property => "og:image", :content => "#{@city.header_bg.url}"}
    %meta{:property => "og:description", :content => "Tea With Strangers is all about making meaningful interactions more fun. Meet some strangers in #{@city.name}!"}

= render partial: 'shared/city_banner'
.container
  =content_for :header_logo do
    = link_to @city.name, city_path(@city), :class => "city-name #{@city.city_code}"
  = render partial: 'shared/nav_header'
  = @city.tea_times.future.empty? ? render(partial: 'sched_no_hosts') : render(partial: 'sched_has_hosts')
