- content_for :title do 
  #{@city.name} | Tea With Strangers
- content_for :description do 
  Tea With Strangers is all about making meaningful interactions more fun. Meet some strangers in #{@city.name}!

- content_for :head do
  %meta{:property => "og:type", :content => "website"}
  %meta{:property => "og:title", :content => "Tea With Strangers in #{@city.name}"}
  %meta{:property => "og:image", :content => "#{@city.header_bg.url}"}
  %meta{:property => "og:description", :content => "Tea With Strangers is all about making meaningful interactions more fun. Meet some strangers in #{@city.name}!"}
= render partial: 'shared/city_banner'
.container{:class => "#{@city.city_code}"}
  = render partial: 'shared/nav_header'
  = @city.hosts.empty? ? render(partial: 'city_no_hosts') : render(partial: 'city_has_hosts')
=content_for(:footer) { render partial: 'shared/footer' }
