!!!
%html
  %head
    %title= content_for(:title) || "Tea With Strangers"
    %meta{name: 'description', content: (content_for(:description) || "Tea With Strangers")}
    %meta{name: 'author', content: ""}
    %meta{name: 'viewport', content:"width=device-width, initial-scale=1, maximum-scale=1"}
    %meta{:property => "og:url", :content => "http://teawithstrangers.com"}
    %meta{:property => "og:type", :content => "website"}
    %meta{:property => "og:title", :content => "Tea With Strangers"}
    %meta{:property => "og:image", :content => "http://f.cl.ly/items/3F43223x2A0q0d0U093d/tws-splash-fbimage-01.jpg"}
    %meta{:property => "og:description", :content => "Tea time is a conversation fueled by the stories, questions, and listening of a few strangers and a super host."}

    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    / link rel="shortcut icon" href="images/favicon.ico">
    / link rel="apple-touch-icon" href="images/apple-touch-icon.png">
    / link rel="apple-touch-icon" sizes="72x72" href="images/apple-touch-icon-72x72.png">
    / link rel="apple-touch-icon" sizes="114x114" href="images/apple-touch-icon-114x114.png">

    = favicon_link_tag 'images/apple-touch-icon-144x144-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '144x144'
    = favicon_link_tag 'images/apple-touch-icon-114x114-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '114x114'
    = favicon_link_tag 'images/apple-touch-icon-72x72-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '72x72'
    = favicon_link_tag 'images/apple-touch-icon-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png'
    = favicon_link_tag 'favicon.ico', :rel => 'shortcut icon'

    = stylesheet_link_tag('application', :media => 'all', 'data-turbolinks-track' => true)
    = javascript_include_tag('application', 'data-turbolinks-track' => true)
    = csrf_meta_tags
  %body{class: (params[:controller] ? "controller-#{params[:controller]}" : nil) }
    #fb-root
    :javascript
      (function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&appId=360734737286705&version=v2.0";
        fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));
    .sharing
      <div class="fb-like" data-href="http://facebook.com/teawithstrangers" data-layout="button" data-action="like" data-show-faces="false" data-share="true"></div>
    = yield
    #modal{style: 'display: none' }
    %footer#footer= yield :footer
:javascript
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-39634305-2', 'teawithstrangers.com');
  ga('send', 'pageview');
